@charset "UTF-8";
@import url(_variables.css);
@import url(_reset.css);
@import url(_font.css);
@import url(_button.css);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-touch-callout:none;
}

html {
	-webkit-font-size-adjust:none
}
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,abbr,address,cite,em,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	font-family:'Pretendard','Dotum','arial','sans-serif'
}

/* screen reader only*/
.sr-only {overflow: hidden;position: absolute;border: 0;width: 1px;height: 1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.blind {overflow: hidden;position: absolute;border: 0;width: 1px;height: 1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.hidden {visibility: hidden;opacity: 0;}

/* 줄바꿈 */
.block {display:block;}
@media screen and (max-width:768px) {
	.block {display:inline;}
}

/* BUTTON  - _button.css */
a {text-decoration: none;color:var(--gray_90);}
button {border: 0; background: none; cursor: pointer;}

/* display */
.dis_block{display:block!important}
.dis_flex{display:flex!important}
.dis_inblock{display:inline-block!important}
.dis_inflex{display:inline-flex!important}

/* align */
.flex-col{flex-direction:column!important}
.flex-row{flex-direction:row!important}
.fx_align_c{align-items:center!important}
.fx_align_l{align-items:flex-start!important}
.fx_align_r{align-items:flex-end!important}
.fx_valign_c{justify-content:center!important}
.fx_valign_l{justify-content:flex-start!important}
.fx_valign_r{justify-content:flex-end!important}
.fx_valign_bw{justify-content:space-between!important}

/* gap */
.gap0{gap:0!important}
.gap10{gap:10px!important}
.gap20{gap:20px!important}
.gap40{gap:40px!important}

/* width */
.wp10 {width:10% !important}
.wp20 {width:20% !important}
.wp30 {width:30% !important}
.wp50 {width:50% !important}
.wp70 {width:70% !important}
.wp90 {width:90% !important}
.wp100 {width:100% !important}


/* heading title */
h1 {position:relative;margin:35px 0 10px;font-family:'NanumSquareNeo';font-size:26px;line-height:1;font-weight:900;color:var(--c_gray_70)}
h2 {position:relative;margin:80px 0 20px;font-family:'NanumSquareNeo';font-size:20px;line-height:1;font-weight:900;color:var(--c_gray_70)}
h2:first-child {margin:0}
h3,.h3 {margin:40px 0 10px;font-family:'NanumSquareNeo';font-size:18px;font-weight:800;line-height:1;color:var(--c_primary)}
h4,.h4 {margin:10px 0 10px;font-family:'NanumSquareNeo';font-size:17px;line-height:100%;font-weight:800;color:var(--c_gray_70)}
h5,.h5 {margin:10px 0 5px;font-size:15px;line-height:1;color:var(--c_gray_70);font-weight:800}
h6,.h6 {margin:10px 0 5px;font-size:15px;line-height:1;color:var(--c_primary_m)}
h2+h2 {margin-top:0}
h3+h3 {margin-top:0}
h2+h3 {margin-top:0}
h3+h4 {margin-top:0}
h4+h5 {margin-top:0}
h5+h6 {margin-top:0}
.subtitle1,
.subtitle2,
.subtitle3 {position:relative;display:block;line-height:1;font-weight:800;letter-spacing:-0.16px;color:var(--c_gray_70);}
.subtitle1 {font-size:32px;}
.subtitle2 {font-size:24px;}
.subtitle3 {font-size:16px;}

@media screen and (max-width:640px) {
	h2{line-height:1.4}
	.subtitle1 {font-size:24px;}
	.subtitle2 {font-size:18px;}
	.subtitle3 {font-size:15px;}
	.subtitle1,
	.subtitle2,
	.subtitle3{line-height:1.4}
}

/* input - Default*/
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {opacity:0;cursor:pointer;}

input[type="file"] {cursor: pointer;}

/* checkbox 기본 */
input[type="checkbox"]{position:absolute;opacity:0;cursor:pointer;}
input[type="checkbox"] + label{position:relative;display:inline-block;line-height:2.5;margin-right:20px;padding-left:22px;font-weight:500;font-size:initial;color:var(--c_gray_60);cursor:pointer;}
input[type="checkbox"] + label:before{content:'';position:absolute;left:0;top:50%;transform:translateY(-80%);display:block;width:16px;height:16px;background:#fff url('/adm/images/common/checkbox.svg') no-repeat 0 0;}
input[type="checkbox"]:checked + label:before{background-position:0 -16px;}
input[type="checkbox"]:disabled + label:before{background-position:0 -32px;}

/* radio 기본 */
input[type="radio"]{position:absolute;opacity:0;cursor:pointer;}
input[type="radio"] + label{position:relative;display:inline-block;line-height:2.5;margin-right:20px;padding-left:22px;font-weight:500;font-size:initial;color:var(--c_gray_60);cursor:pointer;}
input[type="radio"] + label:before{content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);display:block;width:16px;height:16px;background:#fff url('/adm/images/common/radio.svg') no-repeat 0 0;}
input[type="radio"]:checked + label:before{background-position:0 -16px;}
input[type="radio"]:disabled + label:before{background-position:0 -32px;}

/* input 기본 */
input[type="tel"],
input[type="password"],
input[type="text"] {padding:.6rem;margin:0;border:1px solid var(--c_gray_30);border-radius:0.3em;font-size:1rem;font-weight:400;line-height:1.2;color:var(--c_gray_60);font-family:var(--f_nsN);}
input[type="text"].sign {background:#fff !important;width:100px;}
input[type="tel"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {border:none;background:transparent;}
input[type="time"] {min-width:138px;padding:8px;border:none;color:var(--c_gray_60);font-size:1rem;font-family:var(--f_nsN);background:url('/adm/images/common/ico_time.svg') calc(100% - 14px) center no-repeat;} 
input[type="date"],
input[type="month"]{width:168px;padding:.6rem 1rem .6rem 1rem;border:1px solid var(--c_gray_30);border-radius:0.3rem;color:var(--c_gray_60);font-size:1rem;font-family:var(--f_nsN);background:url('/adm/images/common/ico_calender.svg') calc(100% - 16px) center no-repeat;} 
input[type="text"].disabled {border:1px solid var(--c_gray_30);background:var(--c_gray_10);}
input[type="date"].no-line {border:none;}

/* textarea 기본 */
textarea {overflow-y:auto;vertical-align:top;width:100%;line-height:1.5;padding:1rem 1.5rem;border-radius:.3rem;border:1px solid var(--c_gray_30);font-size:1rem;font-family:var(--f_nsN);resize:none;}

/* select 스타일 리셋*/
select {-moz-appearance:none;-webkit-appearance:none;appearance:none;cursor:pointer;}
select::-ms-expand {display: none;}
select:hover, select:focus, select:active {outline:none;}
select, .select {padding:.6rem 2rem .6rem 1rem;margin:0;border:1px solid var(--c_gray_30);border-radius:0.3em;font-size:1rem;font-weight:400;color:var(--c_gray_60);font-family:var(--f_nsN);background:url('/adm/images/common/arr_gr.svg') calc(100% - 12px) center no-repeat;}
select:hover, .select:hover {border-color:#888;}
select:focus, .select:focus {border-color:#aaa;box-shadow:0 0 1px 3px rgba(59, 153, 252, .7);box-shadow:0 0 0 3px -moz-mac-focusring;color:#222;outline:none;}
select:disabled, .select:disabled{opacity:0.5;}
select.no-line, .select.no-line {border:none;}

/* TABLE */
table {display:table;width:100%;font-weight:500; margin-bottom:10px;}
table caption {text-indent:-100000px;font-size:0;line-height:0}
table caption p{margin:0;line-height:0;font-size:0;}
table.center tbody tr td{text-align:center;}

table th,
table td {margin-left:-1px;padding:.9rem .4rem;border-left:1px solid var(--gray_40);border-bottom:1px solid var(--gray_40);vertical-align:middle;word-wrap:break-word;word-break:keep-all;color:var(--gray_100)}
table th:first-child, 
table td:first-child {border-left:none;}
table th:last-child, 
table td:last-child {border-right:none;}
table tr:not(:first-child) th[rowspan]:first-child {border-left:1px solid var(--gray_40);}
table.center tbody tr td[rowspan] {border-right:1px solid var(--gray_40);}
table.center tbody tr td[rowspan]:last-child {border-right:0;}

table thead th.trw{border-right:1px solid var(--gray_40)}
table th.tlw,
table td.tlw {border-left:1px solid var(--gray_40)!important}
table tbody th,
table thead th {vertical-align:middle}
table thead th {font-weight:600;}
table tbody th,
table tfoot th {background-image:none}
table td img {vertical-align:middle}

table thead th {color:#fff;border-color:var(--gray_30);background:var(--gray_70);}
table thead th.th_deep {background:var(--gray_90);}
table thead th:first-child {border-radius: 10px 0 0 0;}
table thead th:last-child {border-radius: 0 10px 0 0;}

.tbl_basic.type2 {}
.tbl_basic.type2 thead th {background:var(--blue_120);}
.tbl_basic.type2 tbody .td_left {padding:.9rem;border-left:0 !important;text-align:left;line-height: 1.5;}



/* stat ico*/
.state {display:inline-block;width:32px;height:32px;margin:auto;background-repeat:no-repeat;background-position:50%;text-indent:-999px;font-size:0;overflow:hidden;}
.state.disabled {filter:brightness(2) grayscale(1);pointer-events:none;}
.state.learn {background-image: url('/adm/images/common/ico_learn.svg');}/* 완료 */
.state.miss {background-image: url('/adm/images/common/ico_miss.svg');}/* 미완료 */
.state.disable {background-image: url('/adm/images/common/ico_disable.svg');}/* 비활성 완료 */
.state.basket {background-image: url('/adm/images/common/ico_basket.svg');} /* 삭제 */
.state.download {background-image: url('/adm/images/common/ico_download.svg')} /* 다운로드 */
.state.modify {background-image:url('/adm/images/common/ico_modify.svg');} /* 수정 */
.state.icosign {border-radius:32px;background-image: url('/adm/images/common/ico_sign.svg');background-color:var(--c_primary_m2);} /* 수정2 */
.state.icosign.disabled {background-image: url('/adm/images/common/ico_sign.svg');background-color:var(--c_gray_40);filter:initial;}

/* 헤딩 아이콘 */
.hico {display:inline-block;width:35px;height:35px;margin:auto;border-radius:35px;text-indent:-999px;overflow:hidden;background-repeat:no-repeat;background-position:50%;background-color:var(--c_white);}
.hico.disabled {filter:brightness(2) grayscale(1);pointer-events:none;}
.hico.person.bk {background-image:url('/adm/images/common/ico_person_w.svg');background-color:var(--c_primary_m2);}
.hico.person.wt {background-image:url('/adm/images/common/ico_person_b.svg');}
.hico.record {background-image:url('/adm/images/common/ico_record.svg');}
.hico.school {background-image:url('/adm/images/common/ico_school.svg');background-color:var(--c_primary_m2);}

/* 아이콘 32*32 */
.micon {display:inline-block;width:32px;height:32px;margin:auto;background-repeat:no-repeat;background-position:50%;text-indent:-999px;font-size:0;overflow:hidden;}
.micon.disabled {filter:brightness(2) grayscale(1);pointer-events:none;}
.micon.ico1 {background-image: url('../images/common/mico_01.svg');}
.micon.ico2 {background-image: url('../images/common/mico_02.svg');}
.micon.ico3 {background-image: url('../images/common/mico_03.svg');}
.micon.ico4 {background-image: url('../images/common/mico_04.svg');}
.micon.ico5 {background-image: url('../images/common/mico_05.svg');}
.micon.ico6 {background-image: url('../images/common/mico_06.svg');}
.micon.ico7 {background-image: url('../images/common/mico_07.svg');}
.micon.ico8 {background-image: url('../images/common/mico_08.svg');}
.micon.ico9 {background-image: url('../images/common/mico_09.svg');}
.micon.ico10 {background-image: url('../images/common/mico_10.svg');}
.micon.ico11 {background-image: url('../images/common/mico_11.svg');}
.micon.ico12 {background-image: url('../images/common/mico_12.svg');}

/* 아이콘 20*20 */
.sicon {display:inline-block;width:20px;height:20px;margin:auto;background-repeat:no-repeat;background-position:50%;text-indent:-999px;font-size:0;overflow:hidden;}
.sicon.disabled {filter:brightness(2) grayscale(1);pointer-events:none;}
.sicon.ico1 {background-image: url('../images/common/sico_01.svg');}
.sicon.ico2 {background-image: url('../images/common/sico_02.svg');}
.sicon.ico3 {background-image: url('../images/common/sico_03.svg');}
.sicon.ico4 {background-image: url('../images/common/sico_04.svg');}
.sicon.ico5 {background-image: url('../images/common/sico_05.svg');}
.sicon.ico6 {background-image: url('../images/common/sico_06.svg');}
.sicon.ico7 {background-image: url('../images/common/sico_07.svg');}
.sicon.ico8 {background-image: url('../images/common/sico_08.svg');}
.sicon.close {background-image: url('../images/common/ico_close.svg');}
.sicon.ico_o {background-image: url('../images/common/ico_o.svg');}
.sicon.ico_x {background-image: url('../images/common/ico_x.svg');}
.sicon.ico_print {background-image: url('../images/common/ico_print.svg');}
.sicon.ico_save {background-image: url('../images/common/ico_save.svg');}

/* 네비게이션 아이콘 */
.nicon {display:inline-block;width:20px;height:20px;margin:auto;background-repeat:no-repeat;background-position:50%;text-indent:-999px;font-size:0;overflow:hidden;}
.nicon.ico1 {background-image: url('../images/common/ico_navi01.svg');}
.nicon.ico2 {background-image: url('../images/common/ico_navi02.svg');}
.nicon.ico3 {background-image: url('../images/common/ico_navi03.svg');}
.nicon.ico4 {background-image: url('../images/common/ico_navi04.svg');}
