@charset "UTF-8";

/* 문제은행 > 생성하기 */
.create_wrap {}

.create_wrap .table_wrap {width:30%;max-height:1092px;}
.create_wrap .table_wrap table {margin:0;}

.create_box {display:flex;flex-direction:column;gap:2rem;width:70%;max-height:1092px;}
.create_box .create__item {display:flex;align-items:flex-start;gap:2rem;}
.create_box .create__item * {font-size:18px;color:var(--gray_100);}
.create_box .item__box {display:flex;gap:1rem;width:100%;}

.create_box .box_btn {margin:0;padding:.8rem 1.4rem;line-height:1;border:.1rem solid var(--gray_40);border-radius:.4rem;color:var(--gray_100);background:var(--gray_10);}
.create_box .box_btn::before {opacity:0;}
.create_box input[type="radio"]:checked ~ .box_btn,
.create_box input[type="checkbox"]:checked ~ .box_btn {font-weight:700;color:var(--blue_90);border-color:var(--blue_40);background-color:var(--blue_20);}
.create_box input[type="radio"]:checked ~ .box_btn::before,
.create_box input[type="checkbox"]:checked ~ .box_btn::before {opacity:1;top:-10px;left:50%;transform:translateX(-50%);width:18px;height:18px;border-radius:18px;background-image:url(../images/common/arr_check.svg);background-color:var(--blue_90);}

.create_box .item__title {min-width:100px;font-weight:700;color:var(--gray_100);}
.create_box .item__title > .number {display:inline-flex;justify-content:center;align-items:center;width:26px;height:26px;border-radius:26px;margin-right:.4rem;color:var(--c_white);font-size:16px;background:var(--gray_100);}

.create_box .create__item .select_wrap .select {min-height:46px;padding:.6rem 2.5rem .6rem 1rem;}
.create_box .create__item .select_wrap > label {font-weight:700;color:var(--gray_90);}

.subject__select {display:flex;gap:1rem;}
.subject__select li {position:relative;}
.create_box .publisher_select {overflow:hidden;display:flex;align-items:center;gap:1rem;border:.1rem solid var(--blue_40);border-radius:.4rem;}
.create_box .publisher_select  > span {padding:1.2rem 1.5rem;font-weight:700;color:var(--blue_120);background:var(--blue_20);}
.create_box .publisher_select  > span > .required {color:var(--blue_100);} 
.create_box .publisher_select  > span > .required::after {top:3px;}
.create_box .publisher_select > ul {display:flex;gap:1rem;padding:0 1rem;}

.create_box .create__item .item__box {gap:.5rem}
.unit__select_wrap {padding:1.5rem;border-radius:10px;background:var(--blue_20);}
.unit__select_wrap .empty_tt {display:inline-flex;justify-content:center;align-items:center;gap:.2rem;width:100%;font-size:20px;color:var(--blue_110);font-weight:800;}
.unit__select_wrap .empty_tt > i {display:inline-block;width:32px;height:32px;mask:url('../images/common/mico_10.svg'); background-color:var(--blue_110);}
.unit__select {overflow-y:scroll;display:flex;flex-direction:column;gap:.5rem;width:100%;max-height:392px;padding-right:1.5rem;padding-bottom:1rem;}
.unit__select::-webkit-scrollbar {width:8px;}   
.unit__select::-webkit-scrollbar-thumb {border-radius:8px;background:var(--gray_60);}
.unit__select li {position:relative;}
.unit__select .unit_btn {overflow:hidden;display:flex;align-items:center;justify-content:space-between;width:100%;margin:0;padding: 0 1rem 0 0;border:.1rem solid var(--gray_50);border-radius:.4rem;background:#fff;}
.unit__select .unit_btn::before {display:none;}
.unit__select .unit_btn::after {content:'';display:inline-block;width:18px;height:18px;border-radius:18px;background:var(--gray_60) url(../images/common/arr_check.svg) no-repeat 50%;}
.unit__select .unit_btn span {width:100%;}
.unit__select .unit_btn span > em {display:inline-block;min-width:90px;margin-right:1rem;padding:.8rem 1rem;background:var(--gray_20);}
.unit__select input[type="checkbox"]:checked ~ .unit_btn {border-color:var(--blue_60);}
.unit__select input[type="checkbox"]:checked ~ .unit_btn::after {background-image:url(../images/common/arr_check.svg);background-color:var(--blue_90);}
.unit__select input[type="checkbox"]:checked ~ .unit_btn span {color:var(--blue_90);font-weight:600;}
.unit__select input[type="checkbox"]:checked ~ .unit_btn span > em {color:var(--blue_90);font-weight:600;background-color:var(--blue_20);}

.diffic_select {display:flex;align-items:center;gap:2rem;margin-right:1rem;}
.diffic_select::after {content:'';width:2px;height:100%;background:var(--gray_40);}
.diffic_select li {display:flex;align-items:center;gap:.5rem;}
.diffic_item {display:flex;border:.1rem solid var(--gray_40);border-radius:.4rem;overflow:hidden;}
.diffic_item > span {line-height:1.5;padding:.5rem 1rem;font-weight:600;background:var(--gray_20);}
.diffic_item .select {min-width:90px;}
.diffic_item .select:focus {box-shadow:none;}
.diffic_item:has(.select:focus) {box-shadow:0 0 1px 3px rgba(59, 153, 252, .5);}
.pertt {color:var(--gray_60) !important;font-weight:600;}

.diffic_total {display:flex;align-items:center;gap:.5rem;}
.diffic_total input {max-width:80px;font-weight:600;}

/* 문제은행 > 생성하기 > 평가지선택확인 */
.create_wrap .totla_wrap {display:flex;align-items:flex-start;gap:3rem;margin-top:2rem;}
.create_wrap .totla_wrap > span {display:flex;align-items:center;width:160px;font-size:18px;color:var(--gray_90);font-weight:800;}
.create_wrap .totla_wrap > div {position:relative;display:flex;flex-direction:column;gap:2rem;width:calc(100% - 160px);}
.create_wrap .totla_wrap > div::after {content:'';position:absolute;right:0;display:block;width:166px;height:173px;background:url(../images/contents/totla__info_img.png);}

.totla__title {font-size:20px;font-weight:800;color:var(--gray_120);}
.totla__title > b {color:var(--blue_100);}

.totla__info {display:flex;flex-direction:column;gap:1rem;}
.totla__info .totla__item {display:flex;flex-direction:column;gap:.5rem}
.totla__info .totla__item em {font-size:16px;font-weight:700;color:var(--gray_70);}
.totla__info .totla__item.num1 ul {display:flex;gap:1rem;}
.totla__info .totla__item.num1 ul li {color:var(--gray_90);font-size:18px;}

.unit__wrap {display:flex;flex-wrap:wrap;gap:.2rem;max-width:900px;}
.unit__wrap .unit__item {line-height:1;padding:8px 10px;border:.1rem solid var(--gray_50);border-radius:.3rem;color:var(--gray_80);font-size:15px;font-weight:500;background:#fff;}


/* 문제은행 > 미리보기 */
.prev_wrap {}
.prev_wrap .title_box {margin-bottom:1rem;}

.prev_info {display:flex;flex-direction:column;gap:3rem;width:35%;}
.prev_info .info_box {padding:2.5rem;border:.1rem solid var(--gray_40);border-radius:10px;}
.info_box .text_box {display:flex;flex-direction:column;}
.info_box .text_box .totla__title {font-size:22px;}
.info_box .text_box > span {display:flex;align-items:center;margin-top:1rem;color:var(--gray_80);}
.info_box .text_box > span > em {padding:.4rem .8rem .5rem;border-radius:30px;line-height: 1;color:#fff;font-size:14px;font-weight:600;background:var(--blue_130);}
.info_box .text_box > span > b {font-size:34px;margin-left:.5rem;color:var(--blue_120);font-family:var(--f_scd);}
.info_box .text_box > ul {display:flex;align-items:center;gap:.5rem;color:var(--gray_80);}
.info_box .text_box > ul li:nth-child(1) {display:flex;align-items:center;gap:.5rem;}
.info_box .text_box > ul li:nth-child(1)::after {content:'·';}

.info_box .graph_wrap {display:flex;flex-direction:column;align-items:flex-end;width:100%;height:105px;}
.info_box .graph_wrap .infoChart_wrap {width:220px;}
.info_box .graph_wrap .infoChart_wrap canvas {height:80px;}
.info_box .graph_wrap > ul {display:flex;gap:.6rem;width:100%;max-width:220px;margin-top:.4rem;}
.info_box .graph_wrap > ul > li {width:30%;text-align:center;}

.prev_info .info_list {}
.info_list .table_wrap {max-height:500px;padding-right:.5rem;}
.info_list .table_wrap table td {padding:.6rem .4rem;}

.prev_box {width:65%;padding:2.5rem 3rem;border-radius:10px;background:var(--gray_120);}
.prev_box .subtitle2 {color:#fff}
.prev_box select {background-color:#fff;}

.prev_list {overflow-y:auto;display:flex;flex-direction:column;gap:1rem;max-height:770px;padding-right:.2rem;}
.prev_list::-webkit-scrollbar {width:8px;}
.prev_list::-webkit-scrollbar-thumb {border-radius:8px;background:rgba(180, 192, 211, .3);}
.prev_list .prev__item {overflow:hidden;min-height:520px;border-radius:10px;background:#fff;}
.prev_list .prev__item .question__box {pointer-events:none;}
.prev_list .prev__item .question__box .q_tit {padding:26px 40px;}
.prev_list .prev__item .question__box .q_layout  {gap:1rem;min-height:initial;padding:26px 40px;}
.prev_list .prev__item .question__box .q_layout .q_wrap {padding:2rem 3rem;}
.prev_list .prev__item .btn_group {display:flex;align-items:center;justify-content:space-between;padding:0 40px;margin:1rem 0 2.5rem;}
.prev_list .prev__item .btn_group li:nth-child(1) {display:flex;align-items:center;gap:.5rem;}
.prev_list .prev__item .btn_group li:nth-child(1) > .report {display:flex;align-items:center;gap:.2rem;padding:6px;color:var(--gray_70);}
.prev_list .prev__item .btn_group li:nth-child(2) > button {width:30px;height:30px;border-radius:.4rem;background-color:var(--gray_30);}


/* 배포하기 -- 출제목록 */
.list_wrap {}
.list_wrap .layout {flex-direction:column;gap:1rem;}
.list_wrap .layout div {width:100%;}
.list_wrap table .td_left > b {margin-right:.6rem}


/* 채점목록 */
.info_card {display:flex;align-items:center;gap:1rem;margin:1rem 0 2rem;}
.info_card .card__item {display:inline-flex;flex-direction:column;width:25%;min-height:190px;padding:2rem;border-radius:10px;background-color:var(--gray_20);}
.info_card .card__item .item.num1 {font-size:18px;font-weight:600;color:var(--gray_70);}
.info_card .card__item .item.num2 {padding:2.2rem 0;font-size:26px;font-weight:600;color:var(--gray_50);text-align:center;}
.info_card .card__item .item.num2 b {color:var(--gray_80);}


/* 배포하기 */
.publish_prev {display:flex;flex-direction:column;gap:2rem;width:100%;padding:4rem;border-radius:10px;background-color:var(--gray_30);}
.publish_prev .question_content {border:1px solid var(--gray_50);pointer-events:none;}

.question_list_wrap {}
.question_list_wrap ul {display:flex !important;flex-wrap:wrap;gap:.708rem;}
.question_list_wrap ul li button {position:relative;display:inline-flex;align-items:center;justify-content:center;border-radius:6px;width:60px;height:60px;border:.1rem solid var(--gray_60);color:var(--gray_100);font-size:18px;font-weight:600;background:#fff;}
.question_list_wrap ul li.slick-active button {border:3px solid var(--blue_90);color:var(--blue_90);font-weight:700;box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.2);}
.question_list_wrap ul li.slick-active button::before {content:'';position:absolute;top:-10px;display:block;width:20px;height:20px;border-radius:20px;background:var(--blue_90) url(../images/common/arr_check.svg) no-repeat 50%;}


/* 전송하기 */
.send_wrap .prev_info {width:100%;}
.send_wrap .info_box {display:flex;align-items:center;}
.send_wrap .info_box > div:nth-child(1){width:54%;}
.send_wrap .info_box > div:nth-child(1) .unit__wrap {margin-top:1.5rem;}
.send_wrap .info_box > div:nth-child(2){display:flex;width:46%;}

.class_code_wrap {}
.class_code_wrap > span {}
.class_code {}

.qrcode {}








