@charset "UTF-8";

/* 공통 */
.c_blue{color:var(--blue_80)}
.c_red{color:var(--coral_70)}

.modal-content.lg{width:900px;}

.state .btn_group{gap:4px;}
.state .btn-outline-secondary{background:#fff}
.state .btn-outline-secondary:hover {color:var(--gray_80);border-color: var(--gray_80); background-color: var(--gray_20);}

.state .tabin .tabin-header {display:flex !important;flex-wrap:wrap;gap:.708rem;}
.state .tabin .tabin-header > a, 
.state .tabin .tabin-header > button,
.state .tabin .tabin-header > span{position:relative;display:inline-flex;align-items:center;justify-content:center;min-width:4rem;padding:.8rem;border-radius:6px;height:60px;border:.1rem solid var(--gray_60);color:var(--gray_100);font-size:18px;font-weight:600;background:#fff;}
.state .tabin .tabin-header > .active, 
.state .tabin .tabin-header > .active{border:3px solid var(--blue_90);color:var(--blue_90);font-weight:700;box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.2);}
.state .tabin .tabin-header > .active::before, 
.state .tabin .tabin-header > .active::before {content:'';position:absolute;top:-10px;display:block;width:20px;height:20px;border-radius:20px;background:var(--blue_90) url(../images/common/arr_check.svg) no-repeat 50%;}
.state .tabin .tabin-header > .disable, 
.state .tabin .tabin-header > .disable{color:var(--gray_50);border-color:var(--gray_60);background:var(--gray_20)}

.state .info_box{display:flex;flex-direction:row;margin-bottom:40px;border:1px solid var(--gray_120);border-radius:8px;}
.state .info_box .item_subject{display:block;padding:40px;background:var(--gray_20);border-radius:8px 0 0 8px;}
.state .info_box .item_subject .tit{display:flex;align-items:center;}
.state .info_box .item_subject .subject_list{width:100%;padding-top:20px;font-weight:400;}
.state .info_box .item_subject .subject_list li{padding:4px 0}
.state .info_box .text_box{display:flex;flex-direction:row;gap:8px;padding:40px;color:var(--gray_80)}
.state .info_box .text_box .item{display:flex;flex-direction:column;align-items:center;gap:4px;padding:30px 20px;border:1px solid var(--blue_40);border-radius:8px;}
.state .info_box .text_box .item b{display:flex;flex-direction:column;align-items:center;font-weight:400;text-align:center;}
.state .info_box .text_box .item b::before{content:'';display:block;width:36px;height:36px;margin-bottom:8px;background:url(/images/contents/ico_tit1.svg) no-repeat 50% 50%}
.state .info_box .text_box .item.ico2 b::before{background-image:url(/images/contents/ico_tit2.svg)}
.state .info_box .text_box .item.ico3 b::before{background-image:url(/images/contents/ico_tit3.svg)}
.state .info_box .text_box .item.ico4 b::before{background-image:url(/images/contents/ico_tit4.svg)}
.state .info_box .text_box .item p{font-weight:bold}
.state .info_box .text_box .item p a{text-decoration:underline;}
.state .info_box .text_box .item span{font-size:15px;font-weight:400}

.state .info_box .text_box.col3 .item{width:36.3%}
.state .info_box .text_box.col4 .item{width:25%}

.state .totalcommt{display:flex;align-items:center;gap:50px;margin-bottom:40px;padding:22px 40px;border:1px solid var(--gray_40);border-radius:8px;}
.state .totalcommt strong{display:flex;flex-direction:column;justify-content:center;align-items:center;width:120px;height:120px;border-radius:100px 100px 12px 100px ;font-weight:bold;color:#fff;background:var(--blue_100)}
.state .totalcommt strong::before{content:'';display:block;width:40px;height:40px;background:url(/images/contents/ico_commt.svg) no-repeat}
.state .totalcommt ul{width:calc(100% - 170px);margin-top:20px;}
.state .totalcommt ul li{position:relative;padding:0 0 10px 24px;color:var(--gray_80);font-weight:400;}
.state .totalcommt ul li::before{content:'';position:absolute;left:0;top:0;display:block;width:40px;height:40px;background:url(/images/contents/ico_bul.svg) no-repeat}


/* 성장기록 */
.state #tab1 .info_box .item_subject{width:408px;padding:50px 40px;}
.state #tab1 .info_box .text_box{width:calc(100% - 408px);}
.state #tab1 .info_box .text_box .item{padding:0;}
.state #tab1 .info_box .text_box .item .title{display:block;width:100%;padding:20px 0 15px;background:var(--blue_10);font-family:var(--f_scd);font-weight:500;font-size:20px;color:var(--gray_80);border-radius:8px 8px 0 0 }
.state #tab1 .info_box .text_box .item .title::before{display:none}
.state #tab1 .info_box .text_box .item .numcycle{position:relative;z-index:10;width:100%;padding:20px;}
.state #tab1 .info_box .text_box .item .numcycle strong{font-size:17px;font-weight:400}
.state #tab1 .info_box .text_box .item .numcycle strong em{margin-right:2px;font-size:24px;font-weight:600}
.state #tab1 .info_box .text_box .item .numcycle p{display:flex;flex-direction:column;align-items:flex-start;gap:8px;}
.state #tab1 .info_box .text_box .item .numcycle p span{font-weight:normal;color:var(--blue_70)}
.state #tab1 .info_box .text_box .item .numcycle .bn{position:absolute;right:20px;top:48px;font-size:0;width:30px;height:30px;cursor:pointer;background:url(/images/contents/ico_open.svg) no-repeat;}
.state #tab1 .info_box .text_box .item .numcycle div{display:none;z-index:0;position:absolute;top:80px;left:50%;transform:translateX(-50%);width:90%;padding:24px;color:#767676;font-size:15px;box-shadow:0px 0px 9px 0px rgba(0,0,0,.1);background:#fff;}
.state #tab1 .info_box .text_box .item .numcycle.on div{display:flex;flex-direction:column;}
.state #tab1 .info_box .text_box .item .numcycle div a{display:flex;justify-content:space-between;flex-wrap:wrap;padding:4px 0;}
.state #tab1 .info_box .text_box .item .numcycle div a em{font-weight:bold}
.state #tab1 .info_box .text_box .item .numcycle div a span:last-child{color:var(--gray_40)}
.state #tab1 .info_box .text_box .item .numcycle div a:hover{color:var(--blue_100);background:var(--gray_20);}
.state #tab1 .info_box .text_box .item .numcycle div .clickClose{position:absolute;right:12px;top:-32px;width:28px;height:28px;font-size:0;border:0;background:url(/images/contents/ico_close.svg) no-repeat;cursor:pointer;}

/* 회차별 */
.state #tab2 .info_box .item_subject{width:340px;padding:50px;}
.state #tab2 .info_box .text_box{width:calc(100% - 340px);}
.state #tab2 .tabtop{display:flex;justify-content:space-between;margin-bottom:40px;}
.state #tab2 .tabtop .student_info,
.state #tab2 .tabin .tabin-header{margin:0;}

.btn .ico.ico-reset{display:block;width:20px;height:20px;margin-left:0;margin-right:4px;background:url(/images/contents/ico_reset_gray.svg) no-repeat;}
.btn.hover .ico-reset, 
.btn:hover .ico-reset{background-image:url(/images/contents/ico_reset_w.svg);} 

.state .title_box{margin-bottom:10px;}
.state .tbl_basic tbody tr:nth-child(even){background:none}
.state .tbl_basic tbody tr.active{background:var(--blue_10);}
.state .tit_list{display:flex;align-items:center;gap:28px;margin-top:40px;}
.state .tit_list li{display:flex;align-items:center;gap:12px;font-weight:600;color:var(--gray_80)}
.state .tit_list li b{padding:4px;border-radius:4px;border:1px solid var(--gray_40);font-size:15px;color:var(--gray_70);font-weight:normal}
.state .tit_list li.correct{color:var(--blue_80);}
.state .tit_list li.correct b{color:var(--blue_80);border-color:var(--blue_40);background:var(--blue_10);}
.state .tit_list li.wrong{color:var(--coral_80);}
.state .tit_list li.wrong b{color:var(--coral_80);border-color:var(--coral_40);background:var(--coral_10);}


.state .q_wrap{display:flex;border-radius:20px;margin:20px 0 40px;border:1px solid var(--gray_40)}
.state .q_wrap div{width:40%;padding:50px;}
.state .q_wrap .answerwrap{width:60%;padding:50px;display:flex;flex-direction:column;gap:8px;border-left:1px solid var(--gray_40);color:var(--gray_50)}
.state .q_wrap .answerwrap li{display:flex;justify-content:flex-start;flex-wrap:wrap;gap:4px;}
.state .q_wrap .answerwrap li em{color:var(--gray_90)}
.state .q_wrap .answerwrap li .num{display:flex;justify-content: center;align-items:center;width:20px;height:20px;border-radius:10px;border:1px solid var(--gray_40);font-size:15px;}
.state .q_wrap .answerwrap li .graph{height:16px;border-radius:4px;background-color:var(--gray_60);}
.state .q_wrap .answerwrap li.wrong em{color:var(--coral_70);}
.state .q_wrap .answerwrap li.wrong .num{color:var(--coral_70);border-color:var(--coral_40)}
.state .q_wrap .answerwrap li.wrong .graph{background:var(--coral_70)}
.state .q_wrap .answerwrap li.correct em{color:var(--blue_70);}
.state .q_wrap .answerwrap li.correct .num{color:var(--blue_70);border-color:var(--blue_40)}
.state .q_wrap .answerwrap li.correct .graph{background:var(--blue_70)}
.state .q_wrap .answerwrap li span{white-space: nowrap;overflow:hidden;text-overflow: ellipsis;}

.txt_tooltip_wrap {position:relative;}
.txt_tooltip_wrap .tooltip {text-decoration:underline;cursor:pointer;}
.txt_tooltip_wrap .tooltip_box {display:none;z-index:10;position:absolute;top:30px;left:50%;transform:translateX(-50%);width:450px;padding:1rem;border:.1rem solid var(--gray_50);border-radius:10px;box-shadow:2px 2px 5px 1px rgba(0, 123, 255, 0.2);background:#fff;}
.txt_tooltip_wrap .tooltip:hover + .tooltip_box {display:block;}
.txt_tooltip_wrap .tooltip_box ul li{display:flex;align-items:center;gap:4px;padding:2px 0;color:var(--gray_50)}
.txt_tooltip_wrap .tooltip_box ul li b{padding:4px 8px;font-size:14px;font-weight:normal;color:var(--gray_80);border:1px solid var(--gray_40);border-radius:15px;background:var(--gray_10)}
.txt_tooltip_wrap .tooltip_box ul .correct b{color:var(--blue_80);border-color:var(--blue_40);background:var(--blue_10);}
.txt_tooltip_wrap .tooltip_box ul .wrong b{color:var(--coral_80);border-color:var(--coral_40);background:var(--coral_10);}

/* 과목별 */
.state .info_box.type3{flex-direction:column}
.state .info_box.type3 .item_subject{display:flex;flex-direction:row;justify-content: space-between;border-radius:8px 8px 0 0;padding:1.6rem}
.state .info_box.type3 .item_subject .student_info{margin:0;}
.state .info_box.type3 .text_box .item{width:17%}
.state .info_box.type3 .text_box .item:nth-of-type(4){justify-content:center;width:calc(100% - 50%);}
.state .info_box.type3 .text_box .item:nth-of-type(4) ul{display:flex;gap:40px}
.state .info_box.type3 .text_box .item:nth-of-type(4) ul li{padding:0 0 0 100px;}
.state .info_box.type3 .text_box .item:nth-of-type(4) b{align-items:flex-start;position:relative;padding:10px 0 6px;font-weight:bold}
.state .info_box.type3 .text_box .item:nth-of-type(4) b::before{position:absolute;top:0;left:-100px;width:70px;height:70px;background:var(--blue_20) url(/images/contents/ico_tit5.svg) no-repeat 50% 50%;border-radius:50%}
.state .info_box.type3 .text_box .item:nth-of-type(4) b::after{content:'';display:block;position:absolute;top:40px;left:-50px;width:32px;height:32px;background: url(/images/contents/ico_tit5_1.svg) no-repeat;}
.state .info_box.type3 .text_box .item:nth-of-type(4) li:last-child b::before{background:var(--coral_20) url(/images/contents/ico_tit6.svg) no-repeat 50% 50%;}
.state .info_box.type3 .text_box .item:nth-of-type(4) li:last-child b::after{background: url(/images/contents/ico_tit6_1.svg) no-repeat;}

.state #tab3 .chart_item_con{display:flex;align-items:center;justify-content:space-between;gap:60px;}
.state #tab3 .chart_item_con .graph_wrap{width:60%}
.state #tab3 .legend_wrap{display:flex;justify-content:center;gap:40px;width:40%;padding:40px 20px;border:1px solid var(--gray_40);border-radius:8px;}
.state #tab3 .legend_wrap li{display:flex;color:var(--gray_80)}
.state #tab3 .legend_wrap li b{font-weight:normal}
.state #tab3 .legend_wrap li p{font-weight:bold}
.state #tab3 .legend_wrap li.total{flex-direction:column;}
.state #tab3 .legend_wrap li.total p{font-size:40px;}
.state #tab3 .legend_wrap li{flex-direction:column;}
.state #tab3 .legend_wrap li div{display:flex;justify-content:center;flex-wrap:wrap;gap:8px;padding-top:6px;margin-top:6px;}
.state #tab3 .legend_wrap li div:last-child{border-top:1px solid var(--gray_40)}

.state #tab3 .legend_wrap.type2{flex-direction:column;gap:12px;border:0;padding:0;}
.state #tab3 .legend_wrap.type2 li{flex-direction:column;align-items:center;width:100%;padding:40px 20px;border:1px solid var(--gray_40);border-radius:8px;}


/* 학생별평가 */
.colwrap{display:flex;align-items:flex-start;gap:40px;width:100%;}
.colwrap .lcon{width:186px;border:8px solid var(--blue_20);border-radius:4px;}
.colwrap .lcon a{display:flex;align-items:center;gap:10px;position:relative;padding:13px 28px 13px 18px;border:1px solid var(--blue_40);border-bottom:0;}
.colwrap .lcon a:last-child{border-bottom:1px solid var(--blue_40)}
.colwrap .lcon a span{display:flex;align-items:center;justify-content:center;width:24px;height:24px;font-size:15px;border-radius:3px;border:1px solid var(--gray_50)}
.colwrap .lcon a.current{color:#fff;background:var(--blue_70)}
.colwrap .lcon a.current::after{content:'';display:block;position:absolute;right:10px;top:50%;transform:translateY(-50%);width:13px;height:13px;background: url(../images/common/arr_m.svg) no-repeat;}
.colwrap .lcon a.current span{border-color:#fff}

.colwrap .rcon{width:calc(100% - 200px);}
.colwrap .rcon .tabcon{display:flex;flex-direction:column;border: 1px solid var(--gray_40);width:100%;border-radius: 8px;}
.colwrap .rcon .tit_info{display:flex;flex-direction:row;align-items:center;justify-content: space-between;padding:20px 50px;border-bottom:1px solid var(--gray_40);border-radius:8px 8px 0 0;background:var(--blue_10)}
.colwrap .rcon .tit_info .tit{font-size:20px;font-family: var(--f_scd);}
.colwrap .rcon .tit_info .student_info{margin:0;}
.colwrap .rcon .text_info{padding:50px;}

/* 학생별평가-평가기록 */
.state.student #tab1 .info_box .item_subject{width:40%;display:flex;flex-direction:column;align-items:flex-start;justify-content: space-between;}
.state.student #tab1 .info_box .item_subject span{display:flex;align-items:center;font-size:28px;}
.state.student #tab1 .info_box .item_subject span em{font-weight:bold;font-size:36px;}
.state.student #tab1 .info_box .item_subject span span{margin:10px 0 0 4px;font-size:20px;font-weight:bold}
.state.student #tab1 .info_box .item_subject .countnum p{font-size:15px}
.state.student #tab1 .info_box .text_box{width:calc(100% - 40%);}
.state.student #tab1 .info_box .text_box .item{justify-content:center;}

/* 학생별평가-회차별 */
.state.student #tab2 .tabtop{justify-content:center;}
.state.student .btn_share{position:absolute;right:112px;top:0;}
.state.student #tab2 .info_box .item_subject{width:32%;}
.state.student #tab2 .info_box .text_box{width:calc(100% - 32%);}
.state.student .q_wrap div{width:100%;padding:50px;}

/* 학생별평가-과목별 */
.state.student #tab3 .chart_item_con .graph_wrap{width:100%}
.state.student #tab3 .title_box{margin-top:40px;}

#modal-company h2{margin-top:0;}
#modal-company .create_box{justify-content:center;width:100%;margin-bottom:20px;}
#modal-company .create_box li{width:20%}
#modal-company .create_box li .box_btn{display:flex;justify-content:center;width:100%;padding:30px 0}

/* 도넛그래프 */
.doughnut-chart {position:relative;width:160px;height:160px;margin-left:20px;background: url(/images/contents/graphbg.svg) no-repeat 50% 50%;background-size:cover}
.doughnut-chart span{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);display:flex;flex-direction:column;justify-content:center;align-items:center;gap:8px;color:var(--blue_100);font-weight:400}
.doughnut-chart span b{font-size:32px}

/* 평가기록 */
.result_wrap.state::before{right:210px;width:715px;height:587px;background:url(../images/contents/bg_result_wrap.png) 0 no-repeat;mix-blend-mode: darken;}
.result_wrap.state .sub_title h1{display:flex;flex-direction:column;gap:16px;}
.result_wrap.state .item_subject b::before{display:none;}
.result_wrap.state .info_box{background:#fff}
.result_wrap.state .info_box .item_subject{width:30%}
.result_wrap.state .info_box .text_box {width: calc(100% - 30%);}
.result_wrap.state .q_wrap div{width:100%}

/* 평가기록 - 모달 */
.fullsize{align-items:flex-start;height:100%;overflow:auto;}
.fullsize .modal-content{width:100%}
.fullsize  #content.result_wrap{padding:5rem 18rem 3rem;}