@charset "UTF-8";

/* wrapper */
#wrapper {display:flex;}


/* header */
#header {z-index:100;position:sticky;display:flex;flex-direction:column;width:14rem;max-width:200px;height:100vh;top:0;left:0;right:0;padding:0;background-color:var(--blue_130);}
#header .logo a {display:block;width:102px;margin:42px auto;}
#header .logo a > span {display:block;width:102px;height:43px;margin:0 auto;font-size:0;background:url('../images/common/logo_w.svg') no-repeat;background-size:100%;}

/* footer */
#footer {padding:4rem 5rem;border-top:.1rem solid var(--gray_40);}
#footer .inner {display:flex;justify-content:space-between;}
#footer .footer_l {display:flex;flex-direction:column;gap:.5rem;color:var(--gray_70);}
.guide_list {display:flex;flex-wrap:wrap;gap:1rem;margin-bottom:1rem;}
.guide_list a {color: var(--gray_100);font-weight:600;}
.footer_info {display:flex;flex-wrap:wrap;gap:.5rem 1rem;}
.footer_copy {}
#footer .footer_r {}
#footer .designSelect {position:relative;margin:auto;border:none;border-radius:4px;width:220px;height:50px;background:#fff;}
#footer .designSelect .lay {width:100%;height:50px;border:none;border-radius:4px;background:var(--gray_20);}
#footer .designSelect .lay strong {display:block;width:100%;height:100%;}
#footer .designSelect .lay a {position:relative;display:flex;align-items:center;width:100%;height:50px;line-height:1.2;padding:0 36px 0 16px;color:var(--gray_100);font-size:16px;font-weight:800;border-radius:4px;border: 2px solid var(--c_gray_40);}
#footer .designSelect .lay a::after {content:"";display:block;position:absolute;right:10px;top:12px;width:24px;height:24px;transform:rotate(0deg);-webkit-transform: rotate(0deg);background: url('../images/common/arr_selet.svg') no-repeat 50%;transition: all var(--ani_time) ease;-webkit-transition: all var(--ani_time) ease;}
#footer .designSelect.on .lay a{border-radius:4px 4px 0 0 }
#footer .designSelect.on .lay a::after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
#footer .designSelect.on .lists {display:block;position:absolute;top:-150px;width:100%;padding:0 20px;z-index:10;border:2px solid var(--gray_40);overflow-y: scroll;}
#footer .designSelect.on .lists::-webkit-scrollbar {width:8px;}
#footer .designSelect.on .lists::-webkit-scrollbar-thumb {border-radius:8px;background:var(--gray_50);}
#footer .designSelect .lists {display:none;max-height:150px;border-radius:3px;background:#fff;}
#footer .designSelect .lists ul{padding-top:10px;}
#footer .designSelect .lists ul li {text-align:center;margin:6px 0;}
#footer .designSelect .lists ul li a {display:block;height:auto;min-height:30px;line-height:2;text-align:left;}
#footer .designSelect .lists ul li a:hover {color:var(--blue_100)}
#footer .designSelect .lists ul li a span.bullet.num.gr:hover{border-color:var(--blue_10);color:var(--blue_100);background:var(--blue_10);}
@media(max-width:768px){
    #footer {padding:3rem 2rem;}
    #footer .inner {flex-direction:column;align-items:flex-start;gap:2rem;}
}



/* topBtn */
.floating{position:fixed;bottom:34px;right:10px;z-index:99}
.floating *{transition:all 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000)}
.floating a{display:block;position:relative;width:50px;height:50px;border-radius:56px;font-size:0;background:var(--gray_90) url('../images/common/topbtn.svg') no-repeat 50% 50%;}
.floating .btn_top{margin-top:-60px;opacity:0;transform:scale(0,0)}
.floating .btn_top.show{margin-top:20px;opacity:1;transform:scale(1,1)}


/* 메뉴 */
.gnb {width:100%;height:100%;z-index:9997;transition:.5s right;overflow-y:scroll;}
.gnb::-webkit-scrollbar {display:none;}
.gnb__depth1 .depth1-item {}
.gnb__depth1 .depth1-item a {position:relative;display:block;color:var(--c_white);letter-spacing:-0.04em;font-size:18px;}
.gnb__depth1 .depth1-item > a {display:flex;align-items:center;gap:.5rem;padding:18px;font-weight:500;}
.gnb__depth1 .depth1-item > a:after {content:'';position:absolute;top:40%;right:24px;display:inline-block;width:9px;height:14px;background:url(../images/common/arr_navi.svg) no-repeat;}
.gnb__depth1 .depth1-item .active {}
.gnb__depth1 .depth1-item .active::after {transform:rotate(90deg);}
.gnb__depth1 .depth2 {display:none;}
.gnb__depth1 .depth1-item > a.active + .depth2 {display:block;padding:12px;background:var(--blue_120);}
.gnb__depth1 .depth2__item {margin:6px 0;}
.gnb__depth1 .depth2__item > a {display:flex;align-items:center;gap:8px;padding:2px 0 2px 18px;font-size:16px;word-break:keep-all;line-height:1.5;}
.gnb__depth1 .depth2__item > a::before{content:'';display:block;width:4px;height:4px;border-radius:4px;background:#fff;}
.gnb__depth1 .depth2__item > a.active {position:relative;font-weight:700;}
.gnb__depth1 .depth2__item > a.active::before{}
.gnb__depth1 .depth3 {display:none;padding:6px 24px 16px;font-size:15px;line-height:30px;list-style:disc;}
.gnb__depth1 .depth3__item::marker {color:#fff;}
.gnb__depth1 .depth3__item > a {font-weight:300;font-size:15px;}
.gnb__depth1 .depth3__item > a.active {text-decoration:underline;}

/* 페이지네비게이션 */
.paginate {display:flex;justify-content:center;gap:.5rem;margin:1rem 0;}
.paginate a {display:inline-flex;align-items:center;justify-content:center;width:32px;height:32px;border-radius:32px;font-size:18px;color:var(--gray_80);background-color:#fff;transition:var(--ani_time);}

.paginate .dir {border:1px solid var(--gray_80);font-size:0;background-position:50%;background-repeat:no-repeat;}
.paginate .dir:hover {background-color:var(--gray_30);}
.paginate .dir.first {background-image:url(../images/common/dir_arr2.svg);}
.paginate .dir.last {transform:rotate(-180deg);background-image:url(../images/common/dir_arr2.svg);}
.paginate .dir.prev {background-image:url(../images/common/dir_arr1.svg);}
.paginate .dir.next {transform:rotate(-180deg);background-image:url(../images/common/dir_arr1.svg);}

.paginate > ul {display:flex;gap:.2rem;}
.paginate > ul li a:hover {background-color:var(--gray_30);}
.paginate > ul li a:focus {}
.paginate > ul li a.active {color:#fff;font-weight:600;background-color:var(--gray_80);}

/* 콘텐츠 시작*/
#container.sub {position:relative;display:block;width:100%;min-width:calc(100% - 200px);padding:0;}

/* 콘텐츠 헤더 */
.sub .sub_header {display:flex;flex-direction:column;gap:2rem;width:100%;padding:2rem 5rem 4rem;background:var(--blue_10);}

.login_info {display:flex;align-items:center;justify-content:flex-end;gap:1rem;}
.login_info .info_item {display:flex;align-items:center;gap:.5rem;}
.login_info .info_item > .sicon {width:26px;height:26px;border-radius:26px;background-color:var(--blue_90);background-size:55%;}
.login_info .info_item .name {color:var(--gray_110);font-weight:600;}
.login_info .info_item .name > b {font-weight:900;}
.login_info .info_item .scoolname {color:var(--gray_70);}

.logout {display:flex;align-items:center;gap:.2rem;color:var(--gray_80);font-weight:600;font-size:1rem;font-family:var(--f_ptd);}
.logout::before {content:'';display:inline-block;width:20px;height:20px;background:url(../images/common/sico_06.svg) no-repeat 50%;}

#location {display:flex;align-items:center;gap:.5rem;}
#location .item {display:flex;align-items:center;gap:.5rem;color:var(--gray_70);line-height:1;font-size:15px;}
#location .item:active, #location .item:visited {color:var(--gray_70);}
#location .item::after {content:'';display:inline-block;width:11px;height:11px;background:url('../images/common/arr_s.svg') no-repeat 50% 50%;}
#location .item:last-child::after {display:none;}
#location .item.home > span {display:block;width:20px;height:20px;font-size:0;background-image:url(../images/common/sico_05.svg);background-size:90%;background-repeat:no-repeat;background-position:50%;}

.sub_title_wrap {display:flex;justify-content:space-between;align-items:flex-end;}
.sub_title {display:flex;align-items:flex-end;gap:.5rem;}
.sub_title h1 {margin:1rem 0 0;color:var(--gray_130);font-size:38px;font-family:var(--f_scd);}
.sub_title p {color:var(--gray_70);font-weight:700;}

.sub_title_wrap .select_class {display:flex;gap:8px;}
.sub_title_wrap .select_class .select {min-width:56px;background:#fff url(../images/common/arr_selet.svg) calc(100% - 8px) center no-repeat;background-size:12px;}
.sub_title_wrap .select_class label {font-size:1rem;font-weight:500;}
.sub_title_wrap .select_class > .btn {background-color:#fff;}
.sub_title_wrap .select_class > .btn:hover {color:var(--blue_80);background-color:var(--blue_20);}
.sub_title_wrap .select_class > .btn > i {background-image:none;mask:url(../images/common/ico_plus.svg);background-color:var(--blue_80);}

#pop_addClass .modal-content {width:440px;}
#pop_addClass .popup-wrap {gap:2rem;}
#pop_addClass .popup-wrap .con-head > h3 {font-size:22px;font-weight:600;color:var(--gray_90);font-family:var(--f_scd);}
#pop_addClass .popup-wrap .con-head > h3::before {width:32px;height:32px;mask:url(../images/common/hico9.svg);mask-size:90%;mask-position:50%;mask-repeat:no-repeat;background-color:var(--gray_90);}
#pop_addClass .popup-wrap .con-head > p {color:var(--gray_80);}
#pop_addClass .popup-wrap .con-wrap {flex-direction:column;gap:2rem;}
#pop_addClass .form_group_wrap {display:flex;flex-direction:column;gap:.5rem;}
#pop_addClass .form_group_wrap .form_group {display:flex;align-items:center;}
#pop_addClass .form_group_wrap .form_group > strong {width:60px;font-size:1.1rem;font-weight:700;}
#pop_addClass .form_group_wrap .form_group > .form_input {width:calc(100% - 60px);}
#pop_addClass .form_group_wrap .form_group > .form_input::placeholder {font-size:.9rem;color:var(--gray_50);}


/* 콘텐츠 */
.sub #content {width:100%;min-height:52vh;padding:4rem 5rem 8rem;}
.sub #content .layout + .btn_group {margin:3rem 0;}
.sub .layout {z-index:1;position:relative;display:flex;gap:2rem;}

/*Responsive*/
@media(max-width:1400px){
    .sub .sub_header {padding:2rem 3rem 4rem;}
    .sub #content {padding:4rem 3rem;}
    .sub .layout {gap:2rem 1rem;}
}
@media(max-width:800px){
    .sub_title {flex-direction:column;align-items:flex-start;}
}


/* 세로모드 컨텐츠 */
body:has(.length_mode) > *:not(.length_mode) {display:none;}
body:has(.length_mode) {width:100vw;height:100vh;}
.length_mode {position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:1rem;width:100vw;height:100vh;padding:0 4%;background:var(--blue_10);}
.length_mode::after {z-index:1;position:absolute;bottom:0;content:'';width:100%;height:36vh;background-image:url(../images/common/length_bg.png);background-size:100%;background-repeat:no-repeat;background-position:bottom;}
.length_mode #length_lottie {z-index:2;display:block;width:154px;height:181px;}
.length_mode > strong {z-index:2;font-size:1.5rem;font-weight:700;text-align:center;}
.length_mode > strong > em {color: var(--blue_100);}
@media(max-width:414px){
    .length_mode > strong {font-size:1.2rem;}
}
