@charset "UTF-8";
/* question header */
#question_header {z-index:10;position:relative;}
#question_header header {display:flex;justify-content:space-between;padding:1.5rem 6.5rem 1.5rem 2.5rem;background-color:var(--blue_130);}
#question_header .bn_close {position:absolute;top:50%;transform:translateY(-50%);right:1.5rem;width:48px;height:48px;border:none;background-color:transparent;background-size:100%;}
#question_header .hd_subject {display:flex;align-items:center;gap:1rem;}
#question_header .hd_subject h2 {display:inline-block;width:83px;height:38px;background-size:100%;}
#question_header .hd_subject > strong {display:flex;align-items:center;gap:1rem;color:#fff;font-size:30px;font-weight:600;font-family:var(--f_scd);}
#question_header .hd_subject > strong::before {content:'';display:inline-block;width:1px;height:28px;background-color:#fff;}
#question_header .hd_subject > span {height:initial;padding:8px 10px;color:#fff;border:none;background:var(--blue_90);}
#question_header .hd_subject > p {color:#fff;font-size:14px;}
/* 남은 시간, 남은 개수 표시 */
.q_info {display:flex;align-items:center;gap:1.5rem}
.q_info > .conut_wrap {display:flex;align-items:center;gap:.5rem;}
.q_info > .conut_wrap > span {display:flex;align-items:center;gap:.2rem;padding:.5rem;color:#fff;border:2px solid #6E779A;border-radius:8px;}
.q_info > .conut_wrap .count {color:#6E779A;font-weight:500;}
.q_info > .conut_wrap .count > em {color:#fff;font-weight:600;}

/* 문제풀이현황 팝업 */
#question_header .toggleSwitch {position:relative;display:block;width:38px;height:22px;margin:0;border-radius:30px;box-shadow:0 0 16px 3px rgba(0 0 0 / 15%);background-color:var(--gray_70);cursor:pointer;}
#question_header .toggleSwitch::before {display:none;}
#question_header .toggleSwitch .toggleButton {position:absolute;width:12px;height:12px;top:50%;left:5px;transform:translateY(-50%);border-radius:50%;background-color:#fff;}
#question_header #toggle:checked ~ .toggleSwitch {background-color:var(--blue_90);}
#question_header #toggle:checked ~ .toggleSwitch .toggleButton {left:calc(100% - 17px);background-color:#fff;}
#question_header .toggleSwitch,
#question_header .toggleButton {transition:all 0.2s ease-in;}
#question_header .question_list_wrap {display:flex;align-items:center;gap:.5rem;color:#fff;}
#question_header .question_list_box {z-index:-1;opacity:0;position:absolute;top:-250px;left:0;width:100%;padding:2rem 15rem;background:var(--gray_10);box-shadow:1px 1px 10px 0 rgba(79, 106, 135, 0.2);transition:var(--ani_time);}
#question_header #toggle:checked ~ .question_list_box {opacity:1;top:90px;}
#question_header .question_list_box > .title {display:flex;align-items:center;gap:1rem;margin-bottom:2rem;}
#question_header .question_list_box > .title strong {font-size:22px;font-weight:700;font-family:var(--f_scd);color:var(--gray_120);}
#question_header .question_list_box > .title > ul {display:flex;align-items:center;gap:.5rem;}
#question_header .question_list_box > .title > ul li {display:flex;align-items:center;gap:.2rem;color:var(--gray_90);font-weight:600;}
#question_header .question_list_box > .title > ul li::before {content:'';display:inline-block;width:16px;height:16px;border:2px solid var(--gray_60);border-radius:4px;background-color:#fff;}
#question_header .question_list_box > .title > ul li:nth-child(1)::before {border-color:var(--blue_90);background-color:var(--blue_90);}
#question_header .question_list_box > .title > ul li:nth-child(3)::before {border-color:var(--blue_90);border-width:2px;}
#question_header .question_list_box > span {display:inline-block;font-size:20px;color:var(--gray_120);margin:2rem 0 1rem;}
#question_header .question_list_box > span > b {margin-right:.2rem;font-weight:700;}
/* 문제풀이현황 버튼 리스트 */
.question_list {display:flex;flex-wrap:wrap;gap:.708rem;}
.question_list .qnum {position:relative;display:inline-flex;align-items:center;justify-content:center;border-radius:6px;width:60px;height:60px;border:.1rem solid var(--gray_60);color:var(--gray_100);font-size:1.1rem;font-weight:600;background:#fff;}
.question_list .qnum.end {color:#fff;border-color:var(--blue_90);background-color:var(--blue_90);}
.question_list .qnum.ing {border:3px solid var(--blue_90);color:var(--blue_90);font-weight:700;box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.2);}
.question_list .qnum.ing::before {content:'';position:absolute;top:-10px;display:block;width:20px;height:20px;border-radius:20px;background:var(--blue_90) url(../images/common/arr_check.svg) no-repeat 50%;}
#question_header .question_list {gap:.79rem;}

/* question footer */
#question_footer {pointer-events:none;z-index:2;position:fixed;top:50%;left:0;display:flex;justify-content:space-between;width:100%;padding:0 4rem;}
#question_footer > button {pointer-events:painted;width:70px;height:70px;border-radius:70px;font-size:0;}
#question_footer > button.save_prev {transform:rotate(180deg);}
#question_footer > button.save_send {border-color:var(--coral_100);background-color:var(--coral_100);}
#question_footer > button.save_send:hover {border-color:var(--coral_110);background-color:var(--coral_110);}

/* 제출팝업 :: 공통 */
.question_modal {width:100%;}
.question_modal .modal-content {padding:0;border:none;}
.question_modal .modal-content .popup-wrap {gap:0}
.question_modal .popup-wrap .con-head {padding:1.5rem 2rem;border-radius:20px 20px 0 0;background:var(--blue_130);}
.question_modal .popup-wrap .con-head > h3 {gap:.5rem;margin:0;font-size:24px;font-weight:600;font-family:var(--f_scd);color:#fff;}
.question_modal .popup-wrap .con-head > h3::before {display:none;}
.question_modal .popup-wrap .con-head > h3 > i {width:40px;height:40px;border-radius:50px;background-color:#fff;}
.question_modal .popup-wrap .con-wrap {flex-direction:column;align-items:center;gap:2rem;padding:2rem;border:6px solid var(--gray_30);border-radius:0 0 20px 20px;}
.question_modal .popup-wrap .con-wrap > strong {font-size:22px;font-weight:700;font-family:var(--f_scd);color:var(--blue_130);text-align:center;}
.question_modal .popup-wrap .con-wrap > strong > em {font-size:22px;font-weight:700;font-family:var(--f_scd);color:var(--blue_90);}
.question_modal .btn_group {margin:0;}
.question_modal .modal-close {position:static;width:initial;height:initial;color:#fff;border-color:var(--gray_60);background-color:var(--gray_60);}
.question_modal .confirm_img {width:80px;height:80px;background:url('../images/common/confirm_img.svg') no-repeat 50%;}
.flag {position:absolute;top:-10px;right:40px;display:flex;align-items:center;justify-content:center;width:87px;height:77px;color:#fff;font-size:20px;font-weight:700;font-family: var(--f_scd);background:url(../images/common/flag.svg) no-repeat 50%;background-size:contain;}
.flag > span {margin-bottom:.5rem;}
/* 제출팝업 :: 미답변 */
.no_answer {display:flex;flex-direction:column;align-items:center;gap:.5rem;}
.no_answer > span {padding:.5rem 1rem;border-radius:40px;color:#fff;font-size:1.1rem;font-weight:600;background:var(--gray_80);}
.no_answer .no_answer_list {display:flex;align-items:center;gap:.5rem;}
.no_answer .no_answer_list .no_answer_item {display:inline-flex;align-items:center;justify-content:center;width:46px;height:46px;border:.1rem solid var(--gray_60);border-radius:4px;color:var(--gray_100);font-size:1.1rem;font-weight:600;background:#fff;}

/* question body :: 문항 영역 layout */
.question {height:100%;padding:2rem 10rem;background:var(--blue_20);}
.q_content {overflow:hidden;position:relative;border-radius:10px;background:#fff;}
.q_layout {display:flex;flex-direction:column;gap:1.2rem;padding:20px 70px 40px;background:#fff;}
.question .q_content {min-height:600px;box-shadow:1px 1px 10px 0 rgba(79, 106, 135, 0.2);} /* 미리보기에서는 나오지 않게 */
.question .q_layout {min-height:calc(73vh + 19px);} /* 미리보기에서는 나오지 않게 padding:20px 70px 40px;*/
.q_layout p {font-size:1.1rem;line-height:2;color:var(--gray_100);}
/* 문항 질문 */
.q_tit {display:flex;align-items:center;justify-content:flex-start;gap:.4rem;margin:0;padding:26px 42px;font-size:1rem;font-weight:500;background:var(--gray_20);}
.q_tit .question_number {padding:.5rem .8rem;border-radius:.3rem;color:var(--c_white);font-weight:600;background:var(--gray_70);}
/* 문항정보 */
.q_layout .question_info {display:flex;align-items:center;justify-content:flex-end;gap:.5rem;font-size:14px;font-weight:600;color:var(--gray_70);}
.q_layout .question_info li {display:flex;align-items:center;gap:.5rem;}
.q_layout .question_info li::after {content:'';display:inline-block;width:2px;height:12px;background:var(--gray_40);}
.q_layout .question_info li:last-child:after {display:none;}
/* 예문 */
.q_layout .q_wrap {overflow:hidden;display:flex;justify-content:center;width:100%;padding:3rem 4rem;border:.3rem solid var(--gray_30);border-radius:10px;font-size:1.1rem;color:var(--gray_90);}
.q_layout .q_wrap.hidden {display:none;} /* 예문 내용이 없을때 숨김 */
/* 예문 type1 제목+본문 상하정렬 */
.q_wrap .examBox {display:flex;justify-content:center;flex-direction:column;align-items:center;gap:1rem;}
.q_wrap .examBox .subtitle3 {font-size:20px;}
.q_wrap .examBox p {line-height:1.5;}
/* 보기 */
.q_layout .a_wrap {display:flex;justify-content:center;font-weight:500;color:var(--gray_90);}
.q_layout .a_wrap * {}
.question .q_layout .a_wrap {padding:1rem 0} /* 미리보기에서는 나오지 않게 */


/*/////////////////////문항 컴포넌트 시작////////////////////////*/
/* 공통 */
u {text-decoration:none;border-bottom:1px solid var(--gray_70);}/* 밑줄, 문항 전체 공통, 문항제목, 예문, 보기 등에서 사용 */
label b {display:inline-block;margin:0 4px;font-weight:700!important;}
label img {vertical-align:middle;}

/* defualt 버튼 */
.txtblock {border:.1rem solid var(--gray_40);border-radius:.3rem;padding:6px 12px!important;font-weight:600!important;background:var(--gray_10);} /*박스버튼*/

/* bullet */
.bullet {display:inline-flex;justify-content:center;align-items:center;line-height:1.5;padding:.5rem 1rem;border-radius:50px;border:.1rem solid var(--gray_90);font-size:1.1rem;font-weight:700;color:var(--gray_90);background-color:var(--gray_20);}
.bullet.circle {width:28px;height:28px;padding:0;font-weight:700;color:var(--gray_90);}
.bullet.blue {border:.1rem solid var(--blue_90);color:var(--blue_90);background-color:var(--blue_20);}
/*circle sm*/
.bullet.circle.sm {width:20px;height:20px;font-size:12px;}

/* 빈칸 */
.blankBox {display:inline-flex;align-items:center;justify-content:center;min-width:60px;height:42px;padding:0 1rem;border-radius:3px;border:2px dashed var(--gray_60);font-size:1.1rem;font-weight:600;color:var(--gray_60);background:var(--gray_20);vertical-align:middle;}/*빈칸표시*/
.blankBox.sm {min-width:50px;height:38px;padding:0 .5rem;font-size:1rem;}

/* 텍스트박스 */
.square {display:inline-flex;align-items:center;justify-content:center;min-width:60px;height:42px;padding:0 1rem;border-radius:3px;border:2px solid var(--gray_60);font-size:1.1rem;font-weight:600;color:var(--gray_90);background:#fff;vertical-align:middle;}
.square.sm {min-width:50px;height:38px;padding:0 .5rem;font-size:1rem;}
.nametag {display:inline-flex;align-items:center;justify-content:center;min-width:60px;height:42px;padding:0 1rem;border-radius:3px;border: 1px solid var(--blue_40);font-size:1.1rem;font-weight:600;color: var(--blue_90) !important;background: var(--blue_20);vertical-align:middle;}
.nametag.sm {min-width:50px;height:38px;padding:0 .5rem;font-size:1rem;}

/* 채팅 프로필 */
.chat_img {display:inline-block;width:60px;height:60px;border-radius:60px;overflow:hidden;background-position:50%;background-repeat:no-repeat;}
.chat_img.blue {background-color:var(--blue_30);}
.chat_img.pink {background-color:var(--coral_30);}
.chat_img.male1 {background-image:url(../images/q_common/male1.png);}
.chat_img.male2 {background-image:url(../images/q_common/male2.png);}
.chat_img.male3 {background-image:url(../images/q_common/male3.png);}
.chat_img.male4 {background-image:url(../images/q_common/male4.png);}
.chat_img.female1 {background-image:url(../images/q_common/female1.png);}
.chat_img.female2 {background-image:url(../images/q_common/female2.png);}
.chat_img.female3 {background-image:url(../images/q_common/female3.png);}
.chat_img.female4 {background-image:url(../images/q_common/female4.png);}

/* 채팅 */
.bubble {position:relative;padding:1rem;border-radius:3px;border:1px solid var(--gray_100);background:#fff;}/*flex:1;width:100%;*/
.bubble::before {content:'';position:absolute;left:-1.11rem;top:.5rem;display:inline-block;width:19px;height:25px;background:url(../images/q_common/bubble_tail.svg) 50% no-repeat;background-size:100%;}
.bubble.top::before {top:-1.31rem;left:50%;transform:rotate(90deg);}
.bubble.under::before {top:initial;bottom:-1.31rem;left:50%;transform:rotate(-90deg);}

.chatBox {display:flex;flex-direction:column;gap:1rem;width:100%;}
.chatBox .chat_item {display:flex;gap:1rem;}
.chatBox.type2 .chat_item.left {padding-right:72px;}
.chatBox.type2 .chat_item.right {flex-direction:row-reverse;padding-left:72px;}
.chatBox.type2 .chat_item.right .bubble::before {left:initial;right:-1.11rem;transform:scaleX(-1);}

/* 문항 안에 사용하는 제목 */
.sub_tt {display:block;line-height:1;margin-bottom:.6rem;text-align:center;font-size:1.2rem!important;font-weight:700!important;color:var(--gray_100);}
.sub_tt.blue {color:var(--blue_100);}
.sub_tt.white {color:#fff;}

/* 리스트 기본스타일 */
.list_1st {display:flex;flex-direction:column;gap:.5rem;padding-left:1.5rem;}
.list_1st li {list-style:disc;font-size:1.1rem;color:var(--gray_100);}

/* 배경 :: 공통규격 */
.bgBox {position:relative;display:flex;flex-direction:column;min-width:700px;max-width:1024px;}
.bgBox::before, .bgBox::after {content:'';display:inline-block;width:100%;min-height:6px;background-position:50%;background-repeat:no-repeat;pointer-events:none;}
.bgBox .bgCont {position:relative;display:flex;flex-direction:column;gap:1rem;padding:1rem 2rem;background-repeat:repeat-y;background-position:50%;}
.bgBox .bgCont > * {z-index:2;}
.bgBox .bgCont.col_2 {display:flex;flex-direction:row;gap:4rem;}
.bgBox .bgCont.col_2 > div {position:relative;width:50%;}
.bgBox .bgCont.col_2 > div:nth-child(1)::after {content:'';position:absolute;top:0;right:-2rem;display:inline-block;width:1px;height:100%;background-color:var(--gray_60);mix-blend-mode:multiply;opacity:.3;}
/* 배경::모니터 */
.bgBox.monitor {min-width:initial}
.bgBox.monitor::before {display:none;}
.bgBox.monitor::after {height:70px;background-image:url('../images/q_common/bg_monitor_btm.png');}
.bgBox.monitor .bgCont {padding:2rem;border-radius:20px;border:25px solid #000;background:#fff;}
.bgBox.monitor .bgCont::before {z-index:1;position:absolute;top:-25px;left:20%;width:100%;min-height:270px;content:'';display:inline-block;background:url(../images/q_common/bg_monitor_top.png) 50% no-repeat;opacity:.5;pointer-events:none;}
/* 배경::칠판 */
.bgBox.board {min-width:760px;border:25px solid #AA7A65;}
.bgBox.board::before {display:none;}
.bgBox.board::after {position:absolute;bottom:0;height:28px;background-image:url('../images/q_common/bg_board_btm.png');background-position-x:right;}
.bgBox.board .bgCont {padding:2rem 2rem 4.5rem;border-top:12px solid #1B6C49;border-left:12px solid #1B6C49;background:#257F5A;}
.bgBox.board .bgCont * {color:#fff !important;mix-blend-mode:inherit;}
.bgBox.board .bgCont input:checked + label {color:var(--yelliw_m)!important;}
.bgBox.board .bgCont .blankBox {border-color:#fff;background:transparent;}
/* 배경::엽서, 편지 */
.bgBox.post {padding:8rem 4rem 3rem;border-radius:20px;background:#EADAC0;}
.bgBox.post::before, .bgBox.post::after {position:absolute;}
.bgBox.post::before {top:4rem;width:188px;height:27px;background-image:url('../images/q_common/bg_post_top.png');background-position:top;}
.bgBox.post::after {top:2rem;right:1rem;width:204px;height:76px;background-image:url('../images/q_common/bg_post_btm.png');background-position:top;}
.bgBox.post .bgCont {padding:0;}
/* 배경::신문 */
.bgBox.news {max-width:900px;}
.bgBox.news::before {height:13px;background-image:url('../images/q_common/bg_news_top.png');background-repeat:repeat-x;}
.bgBox.news::after {display:none;}
.bgBox.news .bgCont {padding:2rem 4rem 2rem;background-image:none;background-color:#EBEBEE;}
.bgBox.news .bgCont::before {content:'';display:inline-block;height:54px;margin-bottom:1rem;background:url('../images/q_common/bg_news_mid.png') 50% no-repeat;background-size:100%;}
/* 배경::일기장 */
.bgBox.diary {max-width:900px;gap:.5rem;padding-top:3.5rem;}
.bgBox.diary::before, .bgBox.diary::after {position:absolute;top:0;}
.bgBox.diary::before {height:46px;background-image:url('../images/q_common/bg_diary_top.png');background-position-x:left;}
.bgBox.diary::after {height:46px;background-image:url('../images/q_common/bg_diary_top2.png');background-position-x:right}
.bgBox.diary .bgCont {padding:3rem 4rem;border:2px solid #A7B7B7;border-radius:4px;background-image:url('../images/q_common/bg_diary_mid.png');background-repeat:repeat;}
/* 배경::책 */
.bgBox.book {width:950px;}
.bgBox.book::before {height:35px;background-image:url('../images/q_common/bg_book_top.png');}
.bgBox.book::after {height:70px;background-image:url('../images/q_common/bg_book_btm.png');}
.bgBox.book .bgCont {padding:1.2rem 4rem 2rem;background-image:url('../images/q_common/bg_book_mid.png');}
/* 배경::노트 */
.bgBox.note {width:950px;border:1px solid var(--gray_70);border-radius:20px;background-image:url(../images/q_common/bg_report_mid.png);background-repeat:repeat;overflow:hidden;}
.bgBox.note::before {width:100%;max-width:858px;height:24px;margin:0 auto;background-image:url(../images/q_common/bg_note_top.png);background-repeat:repeat-x;background-position:bottom;}
.bgBox.note::after {display:none;}
.bgBox.note .bgCont {padding:2.5rem 4rem 3rem;}
/* 배경::보고서 */
.bgBox.report {width:auto;padding:2.5rem 2rem 2rem;border-radius:30px;background-color:#808EAC;}
.bgBox.report::before {z-index:1;position:absolute;top:1rem;left:50%;transform:translateX(-50%);width:182px;height:54px;background-image:url('../images/q_common/bg_report_top.png');}
.bgBox.report::after {display:none;}
.bgBox.report .bgCont {padding:3rem 2rem 2rem;background-image:url('../images/q_common/bg_report_mid.png');background-color:#fff;background-repeat:repeat;}
/* 배경::핸드폰+대화창 */
.bgBox.phone {width:auto;max-width:800px;padding:1.6rem;border-radius:30px;background-color:var(--gray_90);}
.bgBox.phone::before {z-index:1;position:absolute;top:0;left:50%;transform:translateX(-50%);width:238px;height:52px;background-image:url('../images/q_common/bg_phone_top.png');}
.bgBox.phone::after {display:none;}
.bgBox.phone .bgCont {padding:4rem 2rem 2rem;border-radius:15px;background-color:#BACEE0;}
/* 배경::핸드폰+포털 */
.bgBox.portal {width:auto;max-width:1012px;padding:1.6rem;border-radius:30px;background-color:var(--gray_90);}
.bgBox.portal::before {z-index:1;position:absolute;top:0;left:50%;transform:translateX(-50%);width:238px;height:52px;background-image:url('../images/q_common/bg_phone_top.png');}
.bgBox.portal::after {display:none;}
.bgBox.portal .bgCont {padding:4rem 2rem 2rem;border-radius:15px;background-color:#F7F7F7;}
/* 배경::SNS */
.bgBox.sns {overflow:hidden;width:auto;max-width:780px;border-radius:30px;border:10px solid var(--gray_110);}
.bgBox.sns::before {height:145px;background-image:url('../images/q_common/bg_sns_top.png');background-size:100%;background-position:top;}
.bgBox.sns::after {height:116px;background-image:url('../images/q_common/bg_sns_btm.png');background-size:100%;}
.bgBox.sns .bgCont {gap:.5rem;padding:2rem 2rem 1rem;background-color:#fff;}
.bgBox.sns .sns_photo {display:flex;flex-direction:column;}
.bgBox.sns .sns_photo::after {content:'';display:inline-block;height:81px;background-image:url('../images/q_common/bg_sns_etc.png');background-repeat:no-repeat;}
/* 배경::포스터 */
.bgBox.poster {overflow:hidden;max-width:900px;padding:5rem 4rem 4rem;background-color:#F2F1E6;}
.bgBox.poster::before, .bgBox.poster::after {position:absolute;}
.bgBox.poster::before {top:1rem;width:56px;height:54px;background-image:url('../images/q_common/bg_poster_top.png');background-position:top;}
.bgBox.poster::after {top:1rem;right:4rem;width:56px;height:54px;background-image:url('../images/q_common/bg_poster_top.png');background-position:top;}
.bgBox.poster .bgCont {gap:2rem;min-height:initial;padding:0;}
.bgBox.poster .bgCont::after {content:'';position:absolute;bottom:-4rem;right:-4rem;display:inline-block;width:86px;height:78px;background:url('../images/q_common/bg_poster_btm.png') 50% no-repeat}
.bgBox.poster .bgCont .txt_group p {line-height:1.8;}

/* 텍스트 그룹 :: 기능없이 문항에 꾸밈요소로 사용되는 텍스트 그룹, 예문에 사용 */
.txt_group {width:100%;display:flex;flex-direction:column;} /* 아래 요소들을 묶어 쓸때 */
.txtRight {line-height:1.2;text-align:right;font-weight:600;color:var(--gray_100);} /* 텍스트 오른쪽 정렬 */
.annt {margin-top:.5rem;font-size:.83rem;font-weight:500;color:var(--gray_100);mix-blend-mode:multiply;opacity:.6;} /* 보조설명 */
.txt_group .txt_box {display:flex;gap:1rem} /*이미지 + 텍스트 좌우 정렬로 사용할때, 상하로 쓸때는 txt_group만 쓴다*/
.txt_group .txt_box p {flex:1;line-height:1.8;}
@media(max-width:1024px){
    .txt_group .txt_box {flex-wrap:wrap;}
    .txt_group .txt_box > img {flex:1;max-height:200px;}
    .txt_group .txt_box p {flex:initial;}
}
/* 시 형태 */ 
.poemBox {display:flex;flex-direction:column;gap:.5rem;padding:0 1rem;}
.poemBox .poemTxt {text-align:center;font-size:1.1rem;line-height:1.5;}
.poemBox .poemTxt.left {text-align:left;}

/* 단답형 */
.inputWrap .inputBox {height:42px;border-color:var(--gray_60);color:var(--gray_90);font-weight:600;text-align:center;}
.inputWrap .inputBox.sm {width:50px}
.inputWrap .inputBox.md {width:80px}
.inputWrap .inputBox.big {width:100px}

/* 분수형태 */
.fraction {display:inline-flex;flex-direction:column;align-items:center;gap:.2rem;line-height:1;font-size:1.1rem;vertical-align:middle;}
.fraction > .line {width:100%;height:1px;background-color:var(--gray_100);}
.fraction.type2 {display:flex;flex-direction:row;align-items:center;}

/* 카드박스 */
input[type="radio"] + .cardWrap:before,
input[type="chekbox"] + .cardWrap:before {display:none;}
.cardBox {display:flex;gap:.2rem;width:300px;padding:18px;border:1px solid var(--gray_50);border-radius:6px;background-color:#fff;}
.cardBox > p {flex:1;font-size:1.1rem;color:var(--gray_100);}
.cardBox.photo {align-items:center;gap:1rem;padding:22px;width:350px;}
.cardBox .photoBox {border-radius:6px;overflow:hidden;}
.cardBox .photoBox > img {width:100%;height:100%;}
.cardBox.flex-col {width:280px;}
.cardBox.magazine {align-items:center;gap:1rem;width:initial;max-width:400px;padding:0;border:none;background:transparent;}
.cardBox.magazine > p {font-weight:700;}
.cardBox.magazine .inner {display:flex;gap:.6rem;}
.cardBox.magazine .inner p {flex:1;overflow:hidden;height:82px;line-height:1.5;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:ellipsis;word-break:break-all;font-size:1.1rem;color:var(--gray_100);}
.cardBox.photo.magazine .photoBox {border-radius:0;}

/* 숫자카드 */
.numcard_box {display:flex;flex-direction:column;gap:.2rem;}
.numcard_tr {display:flex;gap:.2rem;}
.numcard_tr > li {display:flex;align-items:center;justify-content:center;width:72px;height:72px;border: 1px solid var(--gray_40);}
.numcard_th {font-size:18px;font-weight:600;background-color:var(--gray_20);}
.numcard_th.mathsymbol {font-size:0;}
.numcard_th.mathsymbol::before {content:'';display:inline-block;width:17px;height:17px;background-position:50%;background-repeat:no-repeat;}
.numcard_th.mathsymbol.mathsymbol1::before {background-image:url(../images/q_common/mathsymbol_1.svg);}
.numcard_th.mathsymbol.mathsymbol2::before {background-image:url(../images/q_common/mathsymbol_2.svg);}
.numcard_th.mathsymbol.mathsymbol3::before {background-image:url(../images/q_common/mathsymbol_3.svg);}
.numcard_th.mathsymbol.mathsymbol4::before {background-image:url(../images/q_common/mathsymbol_4.svg);}

/*///라디오///*/
.radioWrap {display:flex;flex-direction:column;gap:.5rem;width:100%;font-size:1.1rem;color:var(--gray_100);}
.radioWrap label *,
.radioWrap input[type="radio"] + label {color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.radioWrap input[type="radio"]:checked + label,
.radioWrap input[type="radio"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
.radioWrap .tbl_basic thead th {font-weight:700;}
/* 라디오 type2 :: 가로정렬, 중앙배치*/
.radioWrap.type2 {flex-direction:row;justify-content:center;}
/* 라디오 type3 :: 구분 정렬 */
.radioWrap.type3 {max-width:900px;}
.radioWrap.type3 label {vertical-align:middle;font-weight:600;color:var(--gray_90);}
.radioWrap.type3 input[type="radio"] + label:before {position:static;transform:initial;}
.radioWrap.type3 .tbl_basic th:has(input[type="radio"]:checked) ~ td label {color:var(--blue_100);}
/* 라디오 type4 */
.radioWrap.type4 {display:block;}
.radioWrap.type4 > div {line-height:2;color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.radioWrap.type4 input[type="radio"] + label {display:inline;margin:0;}
.radioWrap.type4 input[type="radio"] + label::before {top:4px;transform:initial;}
.radioWrap.type4 input[type="radio"]:checked + label {border-color:var(--blue_100);}
.radioWrap.type4 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
/* 라디오 type5 */
.radioWrap.type5 {flex-wrap:wrap;flex-direction:row;justify-content:center;gap:1.5rem;}
.radioWrap.type5 input[type="radio"] + label {margin:0;padding:0}
/* 라디오 type6 :: 테이블 안에서 선택 */
.radioWrap.type6 {align-items:center;}
.radioWrap.type6 .tbl_basic {max-width:980px;}
.radioWrap.type6 .tbl_basic * {color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.radioWrap.type6 .tbl_basic th:has(input[type="radio"]:checked) ~ td {color:var(--blue_100);}
/* 라디오 type7 */
.radioWrap.type7 {flex-direction:row;justify-content:center;align-items:center;gap:1rem;}
.radioWrap.type7 .group {display:flex;flex-direction:column;align-items:center;gap:.5rem;}
.radioWrap.type7 .group .groupBox {display:flex;flex-direction:column;gap:.5rem;padding:2rem;border:1px solid var(--gray_50);border-radius:10px;}
/* 라디오 type7 가로정렬 */
.radioWrap.type7.flex-col {justify-content:center;align-items:flex-start;gap:1rem;width:initial;}
.radioWrap.type7.flex-col .group {align-items:center;flex-direction:row;gap:.5rem;}
.radioWrap.type7.flex-col .group .groupBox {display:flex;flex-direction:column;gap:.5rem;padding:2rem;border:1px solid var(--gray_50);border-radius:10px;}
/* 라디오 type8 */
.radioWrap.type8 {display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap;gap:1rem;}
.radioWrap.type8 input[type="radio"] + label {display:flex;flex-direction:column;align-items:center;gap:.5rem;height:100%;margin:0;padding:0;}
.radioWrap.type8 input[type="radio"] + label::before {position:static;transform:initial;}
.radioWrap.type8 label > div {flex:1;min-width:350px;height:100%;padding:2rem;border:2px dashed var(--gray_50);border-radius:10px;background:var(--gray_10);}
/* 라디오 type9 :: 대화형 */
.radioWrap.type9 input[type="radio"] + label::before {display:none;}
.radioWrap.type9 input[type="radio"]:checked + label .bubble::before {background-image:url(../images/q_common/bubble_tail_on.svg);}

/*///체크박스///*/
.checkWrap {display:flex;flex-direction:column;gap:.5rem;width:100%;font-size:1.1rem;color:var(--gray_100);line-height:2;}
.checkWrap label *,
.checkWrap li {line-height:1.5;}
.checkWrap input[type="checkbox"] + label {color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.checkWrap input[type="checkbox"] + label {padding-left:22px;}
.checkWrap input[type="checkbox"] + label::before {position:absolute;transform:translateY(-55%);}
.checkWrap input[type="checkbox"]:checked + label,
.checkWrap input[type="checkbox"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
.checkWrap .tbl_basic thead th {font-weight:700;}
/* 체크박스 type2 :: 가로정렬, 중앙배치*/
.checkWrap.type2 {flex-direction:row;justify-content:center;flex-wrap:wrap;}
/* 체크박스 type4 */
.checkWrap.type4 {flex-direction:row;justify-content:center;flex-wrap:wrap;}
.checkWrap.type4 > li {width:18%;}
.checkWrap.type4 input[type="checkbox"] + label {display:flex;flex-direction:column;align-items:center;gap:.5rem;height:100%;margin:0;padding:0;}
.checkWrap.type4 input[type="checkbox"] + label .cardBox {width:100%;height:calc(100% - 24px);}
.checkWrap.type4 input[type="checkbox"] + label:before {position:static;transform:initial;}
/* 체크박스 type5 :: 테이블 안에서 */
.checkWrap.type5 {align-items:center;}
.checkWrap.type5 .tbl_basic {max-width:980px;}
.checkWrap.type5 .tbl_basic * {color:var(--gray_100);font-size:1.1rem;}
.checkWrap.type5 .tbl_basic input[type="checkbox"] + label {gap:.2rem}
.checkWrap.type5 .tbl_basic th:has(input[type="checkbox"]:checked) ~ td {color:var(--blue_100);}
/* 체크박스 type6 :: 보고서 형식 */
.checkWrap.type6 {max-width:800px;}
.checkWrap.type6 ul {display:flex;flex-direction:column;gap:.8rem;}
.checkWrap.type6 ul li {display:flex;flex-direction:column;gap:.4rem;}
.checkWrap.type6 ul li b {font-size:1.1rem;color:var(--gray_100);}
/* 체크박스 type7 :: 문장형 */
.checkWrap.type7 > div {line-height:2;color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.checkWrap.type7 input[type="checkbox"] + label {display:inline;margin:0;}
.checkWrap.type7 input[type="checkbox"] + label::before {top:4px;transform:initial;}
/* 체크박스 type8 :: 핸드폰+대화형 */
.checkWrap.type8 input[type="checkbox"] + label::before {display:none;}
.checkWrap.type8 input[type="checkbox"]:checked + label .bubble::before {background-image:url(../images/q_common/bubble_tail_on.svg);}
/* 체크박스 type9 :: 정렬 */
.checkWrap.type9 {max-width:900px;}
.checkWrap.type9 label {font-weight:600;color:var(--gray_90);}
.checkWrap.type9 input[type="checkbox"] + label:before {position:static;transform:initial;}
.checkWrap.type9 .tbl_basic th:has(input[type="checkbox"]:checked) ~ td label {color:var(--blue_100);}

/*///단답형///*/
.inputWrap {position:relative;text-align:center;font-size:1.1rem;color:var(--gray_100);line-height:2;}
/* 단답형 type2 테이블 */
.inputWrap.type2 {width:100%;max-width:1024px;}
/* 단답형 type3 */
.inputWrap.type3 {padding:3rem 0 0 3rem;}
.numcard_arr {position:absolute;display:inline-block;background-position:50%;background-repeat:no-repeat;}
.numcard_arr.horizon {top:0;width:136px;height:40px;}
.numcard_arr.horizon.plus {background-image:url(../images/q_common/numcard_arr_plus1.png);}
.numcard_arr.horizon.minus {background-image:url(../images/q_common/numcard_arr_minus1.png);}
.numcard_arr.horizon.obelus {background-image:url(../images/q_common/numcard_arr_obelus1.png);}
.numcard_arr.horizon.gobhagi {background-image:url(../images/q_common/numcard_arr_gobhagi1.png);}
.numcard_arr.vertic {left:0;width:40px;height:136px;}
.numcard_arr.vertic.plus {background-image:url(../images/q_common/numcard_arr_plus2.png);}
.numcard_arr.vertic.minus {background-image:url(../images/q_common/numcard_arr_minus2.png);}
.numcard_arr.vertic.obelus {background-image:url(../images/q_common/numcard_arr_obelus2.png);}
.numcard_arr.vertic.gobhagi {background-image:url(../images/q_common/numcard_arr_gobhagi2.png);}
/* 단답형 type4 */
.inputWrap.type4 {display:flex;align-items:center;gap:1rem;}
/* 단답형 type6 */
.inputWrap.type6 {display:flex;flex-wrap:wrap;gap:1rem;}
.inputWrap.type6 li {display:flex;align-items:center;gap:.5rem;}

/*///핫스폿///*/
.hsradioWrap {position:relative;font-size:1.1rem;color:var(--gray_100);font-weight:500;line-height:2;}
.hsradioWrap > div {font-size:1.1rem;color:var(--gray_100);font-weight:500;line-height:2;}
.hsradioWrap label * {color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.hsradioWrap input[type="radio"] + label {margin:.2rem;padding:6px 12px;border:.1rem solid var(--gray_40);border-radius:.3rem;color:var(--gray_100);font-size:1.1rem;font-weight:500;background:var(--gray_10);}
.hsradioWrap input[type="radio"] + label::before {display:none;}
.hsradioWrap input[type="radio"]:checked + label {border-color:var(--blue_100);color:var(--blue_100);background-color:var(--blue_20);}
.hsradioWrap input[type="radio"]:checked + label::before {z-index:1;left:50%;transform:translateY(-50%) translateX(-50%);display:block;width:52px;height:52px;background-image:url(../images/q_common/hotspot_img.svg);background-size:100%;}
.hsradioWrap ul li {text-align:left;}
/* 핫스폿 type4, type5, type7, type10, type11, type12, type14, type15 등 박스형태의 버튼을 사용하지 않을때 lable에 noBox 클래스 추가*/
.hsradioWrap input[type="radio"] + label.noBox {display:inline;padding:0;border:none;border-radius:0;background:transparent;}
.hsradioWrap input[type="radio"] + label.noBox::before {display:none;}
/* 핫스폿 type2 리스트형 */
.hsradioWrap.type2 {display:flex;justify-content:flex-start;flex-direction:column;gap:1rem;text-align:left;}
.hsradioWrap.type2 li {display:flex;align-items:center;gap:.5rem;}
/* 핫스폿 type3 카드형 */
.hsradioWrap.type3 {display:flex;justify-content:center;flex-wrap:wrap;gap:1rem;width:100%;}
.hsradioWrap.type3 input[type="radio"] + label {padding:0;border:none;border-radius:0;background:transparent;}
.hsradioWrap.type3 input[type="radio"]:checked + label::before {width:100px;height:94px;}
.hsradioWrap.type3 input[type="radio"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
/* 핫스폿 type4 :: 문장형 */
.hsradioWrap.type4 {text-align:left;color:var(--gray_100);font-size:1.1rem;font-weight:500;line-height:1.8;}
.hsradioWrap.type4 input[type="radio"] + label {margin:0;}
.hsradioWrap.type4 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
/* 핫스폿 type5 :: 문장형 왼족 정렬, 중앙배치 */
.hsradioWrap.type5 {text-align:left;color:var(--gray_100);font-size:1.1rem;font-weight:500;line-height:1.8;}
.hsradioWrap.type5 input[type="radio"] + label {margin:0;}
.hsradioWrap.type5 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
/* 핫스폿 type6 :: 이미지 위에 말풍선, 카드박스 */
.hsradioWrap.type6 input[type="radio"] + label {padding:0;border:none;border-radius:0;background:transparent;}
.hsradioWrap.type6 input[type="radio"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
.hsradioWrap.type6 input[type="radio"]:checked + label .bubble::before {background-image:url(../images/q_common/bubble_tail_on.svg);}
.hsradioWrap.type6 .btn_group {width:100%;height:100%;margin:0;}
.hsradioWrap.type6 .btn_group .btn_item {position:absolute;}
/* 핫스폿 type8 :: 숫자카드 */
.hsradioWrap.type8 .numcard_tr > li {position:relative;text-align:initial;}
.hsradioWrap.type8 .numcard_td:has(input[type="radio"]:checked) {border-color:var(--blue_100);background-color:var(--blue_20);}
.hsradioWrap.type8 .numcard_td:has(input[type="radio"]:checked)::before {z-index:1;position:absolute;content:'';top:50%;left:50%;transform:translateY(-50%) translateX(-50%);display:block;width:52px;height:52px;background-image:url(../images/q_common/hotspot_img.svg);background-size:100%;background-repeat:no-repeat;}
.hsradioWrap.type8 .numcard_td input[type="radio"] + label {display:flex;align-items:center;justify-content:center;width:100%;height:100%;}
/* 핫스폿 type9 :: 대화형 */
.hsradioWrap.type9 input[type="radio"] + label {margin:0;padding:0;border:none;border-radius:0;background:transparent;}
.hsradioWrap.type9 input[type="radio"] + label::before {width:80px;height:80px;}
.hsradioWrap.type9 input[type="radio"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
.hsradioWrap.type9 input[type="radio"]:checked + label .bubble::before {background-image:url(../images/q_common/bubble_tail_on.svg);}
/* 핫스폿 type10 :: 보고서 형식*/
.hsradioWrap.type10 {display:flex;flex-direction:column;gap:2rem;}
.hsradioWrap.type10 ul {display:flex;flex-direction:column;gap:.5rem;}
.hsradioWrap.type10 ul li {line-height:1;}
.hsradioWrap.type10 input[type="radio"] + label {margin:0;}
.hsradioWrap.type10 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
/* 핫스폿 type11 :: 문장형, 좌우 다단형 */
.hsradioWrap.type11 {display:flex;flex-direction:row;gap:4rem;}
.hsradioWrap.type11 > .inner {text-align:left;}
.hsradioWrap.type11 > .inner .sub_tt {margin-bottom:1rem;}
.hsradioWrap.type11 input[type="radio"] + label {margin:0;line-height:1.8;}
.hsradioWrap.type11 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
/* 핫스폿 type12 :: 검색레이아웃 */
.hsradioWrap.type12 {display:flex;flex-direction:column;gap:1rem;width:100%;max-width:872px;}
.hsradioWrap.type12 input[type="radio"] + label {margin:0;padding:0;border:none;border-radius:0;background:transparent;}
.hsradioWrap.type12 input[type="radio"] + label::before {width:100px;height:100px;}
.hsradioWrap.type12 input[type="radio"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
/*검색레이아웃*/
.searchBox {display: flex;border:1px solid #49AC3F}
.searchBox .searchTxt {width:calc(100% - 54px);line-height:54px;padding:0 1.5rem;text-align:left;font-size:1.2rem;font-weight:600;background:#fff;}
.searchBox .searchBtn {display:inline-flex;justify-content:center;align-items:center;width:54px;height:54px;background:#49AC3F;}
.searchCon ul {display:flex;justify-content:flex-start;flex-wrap:wrap;gap:1rem;}
/* 핫스폿 type13 :: 이미지 위에 버튼일때만 */
.hsradioWrap.type13 .btn_group {width:100%;height:100%;margin:0;}
.hsradioWrap.type13 .btn_group .btn_item {position:absolute;}
/* 핫스폿 type14 :: 카드안에서 선택 */
.hsradioWrap.type14 {display:flex;flex-direction:column;gap:1rem;}
.hsradioWrap.type14 .cardBox {display:flex;align-items:center;gap:1rem;width:800px;}
.hsradioWrap.type14 .cardBox > p {line-height:1.5;}
.hsradioWrap.type14 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
/* 핫스폿 type15 :: 테이블 */
.hsradioWrap.type15 {display:flex;flex-direction:column;gap:1rem;}
.hsradioWrap.type15 .tbl_basic,
.hsradioWrap.type15 input[type="radio"] + label {margin:0;}
.hsradioWrap.type15 input[type="radio"]:checked + label u {color:var(--blue_100);border-color:var(--blue_100);}
.hsradioWrap.type15 .tbl_basic * {color:var(--gray_100);font-size:1.1rem;}

/*///서술형///*/
.txareWrap {width:100%;}
.txareWrap .item {display:flex;align-items:flex-start;gap:.5rem;width:100%;}
.txareWrap strong {padding-top:1rem;font-size:1.1rem;font-weight:700;color:var(--gray_90)}
.txareWrap textarea {flex:1;height:100%;padding:.5rem;background-color:var(--gray_10);}
/* 서술형 type2 :: 2개 이상 */
.txareWrap.type2 {display:flex;flex-direction:column;gap:1rem;}
/* 서술형 type3 :: 테이블 */
.txareWrap.type3 {display:flex;flex-direction:column;gap:.5rem;max-width:800px;}
.txareWrap.type3 .item {align-items:center;gap:0;height:100px;border:1px solid var(--gray_50);border-radius:4px;overflow:hidden;}
.txareWrap.type3 strong {display:inline-flex;align-items:center;justify-content:center;width:200px;height:100%;padding:0;background-color:var(--gray_30);}
.txareWrap.type3 .item .inner {flex:1;height:100%;border-left:1px solid var(--gray_50);overflow:hidden;}
.txareWrap.type3 .item .inner textarea {border:none;border-radius:0;background:transparent;resize:none;}
.txareWrap.type3 .item .inner:has(p) {padding:.5rem;background-color:var(--gray_10);}
.txareWrap.type3 .item .inner p {color:var(--gray_100);font-weight:600;}

/*///끌어놓기///*/
.dragWrap {display:flex;flex-direction:column;align-items:center;gap:2rem;}
.dragWrap .caption {display:flex;align-items:center;flex-wrap:wrap;gap:.5rem;font-size:1.1rem;font-weight:600;color:var(--gray_90);}
.dragBtnBox {position:relative;display:flex;flex-wrap:wrap;justify-content:center;gap:1rem;max-width:950px;padding:2.2rem 2rem 1.6rem;border:2px dashed var(--gray_50);border-radius:12px;background:#fff;}
.dragBtnBox::before {overflow:hidden;content:'끌어놓으세요.';position:absolute;top:-1.2rem;display:inline-block;padding:.6rem 1rem;border-radius:60px;color:var(--gray_120);font-size:1rem;font-weight:700;background:var(--gray_30);}
.dragAnswerBox {position:relative;width:100%;}
.dragAnswerBox .dragitem {font-size:1.1rem;font-weight:500;color:var(--gray_90);line-height:2;}
/* 끌어놓기 보기 버튼 */
.draggable {display:inline-flex;line-height:1.5;margin:0;padding:6px 12px;border:.1rem solid var(--gray_40);border-radius:.3rem;text-align:left;color:var(--gray_100);font-size:1.1rem;font-weight:500;background-color:var(--gray_10);transition:var(--ani_time);cursor:pointer;}
.draggable:has(img) {min-height:40px;}
.draggable > img {width:100%;object-fit:contain;}
.draggable:hover,
.draggable:active,
.draggable.dragging {border-color:var(--blue_100);color:var(--blue_100);background-color:var(--blue_20);}
/* 끌어놓기 카드박스 형태의 보기 버튼 */
.draggable:has(.dargcard) {width:calc(100% / 4 - .8rem);padding:1rem;border-color:var(--gray_60);border:2px solid var(--gray_40);background-color:#fff;}
.draggable:has(.dargcard):hover,
.draggable:has(.dargcard):active,
.draggable:has(.dargcard).dragging {border-color:var(--blue_100);}
.dargcard {display:flex;flex-direction:column;gap:1rem;font-size:1rem;text-align:left;}
/* 끌어놓기 답변 박스 */
.draginput {display:inline-flex;justify-content:center;align-items:center;min-width:8rem;min-height:42px;margin:.2rem !important;padding:.6rem;border-radius:0.3em;border:1px solid var(--gray_40);text-align:center;background-color:#fff;vertical-align:middle;transition:var(--ani_time);}
.draginput.sm {min-width:4rem;}
.draginput.big {min-width:67px;min-height:54px;}
.draginput:hover,
.draginput:focus {z-index:1;border-color:var(--blue_70);box-shadow: 0 0 0 0.2rem rgba(81, 137, 250, 0.3);}
.draginput:has(.draggable) {width:auto;min-width:auto !important;height:auto;padding:0;border:0;background-color:transparent;}
/* 끌어놓기 답변 박스 :: 다중 */
.draginput.many {flex-wrap:wrap;align-items:flex-start;justify-content:flex-start;align-content:flex-start;gap:.5rem;width:100%;min-height:200px;padding:1rem;border-radius:20px;border:1px solid var(--yelliw_m);background:var(--yelliw_10);}
/* 끌어놓기 type2 :: 이미지 위에 끌어놓기 */
.dragWrap.type2 .dragAnswerBox > img {width:100%;}
.draginput_group .draginput {position:absolute;}
/* 끌어놓기 type3 :: ox 퀴즈 */
.dragWrap.type3 {min-width:500px;}
.dragWrap.type3 .dragAnswerBox {display:flex;flex-direction:column;gap:1rem}
.dragWrap.type3 .dragitem {display:flex;justify-content:space-between;padding-bottom:1rem;border-bottom:1px dashed var(--gray_40);}
/* 끌어놓기 type4 :: 시계 돌리기, 시간 맞추기 */
.clock {position:relative;width:500px;height:500px;border-radius:50%;}
.clock .hand {position:absolute;top:50%;transform-origin:100%;width:50%;height:6px;border-radius:6px;font-size:0;background:black;cursor:pointer;}
.clock .hand:hover {box-shadow: 0 0 0 0.2rem rgba(81, 137, 250, 0.3);}
.clock .hand.hour {display:none;left:20%;width:30%;height:10px;background:var(--blue_120);}/*현재 문제들은 사용하지 않아서 숨김처리, 백그라운드 이미지로 문제 제시*/
.clock .hand.minute {left:4%;width:46%;height:10px;background:var(--blue_70);}
.clock .hand.second {display:none;left:4%;width:46%;height:3px;background:var(--coral_110);}/*현재 문제들은 사용하지 않아서 숨김처리*/
.clock .clockDot {width:20px;height:20px;background:black;border-radius:50%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.clock .clock_bg {width:100%;height:100%;pointer-events:none;}
.clock .clock_bg img {width:100%;height:100%;pointer-events:none;-webkit-user-drag:none;-khtml-user-drag:none;-moz-user-drag:none;-o-user-drag:none;user-drag:none;}
/* 끌어놓기 type5 :: 테이블 */
.dragtable {display:flex;flex-direction:column;max-width:950px;}
.dragtable_tr {display:flex;margin-top:-1px;}
.dragtable_tr * {color:var(--gray_100);}
.dragtable_th {display:flex;justify-content:center;align-items:center;width:260px;padding:1rem;border:1px solid var(--gray_50);font-size:1.1rem;font-weight:700;background:var(--gray_20);}
.dragtable_td {width:calc(100% - 260px);line-height:1.5;padding:1rem;border:1px solid var(--gray_50);border-left:none;font-weight:500;}
/* 끌어놓기 type6 :: 중복으로 끌어놓기 */
.dragWrap.type6 .dragAnswerBox {display:flex;justify-content:space-between;flex-wrap:wrap;gap:1rem;max-width:950px;}
.dragWrap.type6 .dragitem {display:flex;flex-direction:column;align-items:center;width:calc(50% - .5rem);}
.dragWrap.type6 .dragitem .bullet {z-index:1;}
.dragWrap.type6 .dragitem .draginput.many {z-index:initial;margin:0;margin-top:-16px !important;padding-top:2rem;}
.dragWrap.type6 .caption {justify-content:flex-end;width:100%;font-size:.9rem;font-weight:500;}
.dragWrap.type6 .draggable:has(img) {padding:0;border:none;background:transparent;transition:var(--ani_time);}
.dragWrap.type6 .draggable:has(img):hover,
.dragWrap.type6 .draggable:has(img):active,
.dragWrap.type6 .draggable.dragging:has(img) {transform:scale(1.05);}
/* 끌어놓기 type7 :: 중복으로 끌어놓기, 다이어그램 */
.dragWrap.type7 {gap:3rem;}
.diagram {position:relative;display:flex;width:1024px;min-height:260px;}
.diagram::before, .diagram::after {position:absolute;content:'';display:block;width:calc(100% - 33% - 7px);height:100%;border-radius:100px;}
.diagram::before {border:2px solid var(--blue_100);}
.diagram::after {border:2px solid var(--green_100);right:0;}
.diagram .dragitem {z-index:1;display:flex;justify-content:center;width:calc(100% / 3);}
.diagram .dragitem .bullet {z-index:1;position:absolute;top:-22px;}
.diagram .dragitem:nth-child(1) .bullet {color:#fff;border-color:var(--blue_100);background-color:var(--blue_100);}
.diagram .dragitem:nth-child(3) .bullet {color:#fff;border-color:var(--green_100);background-color:var(--green_100);}
.diagram .draginput.many {z-index:initial;display:flex;flex-direction:column;align-items:center;align-content:center;margin:0 !important;padding-top:2rem;border:0;border-radius:100px;background:transparent;}
/* 끌어놓기 type8 :: 순서대로 끌어놓기 */
.dragWrap.type8 {max-width:950px;}
.dragflow {display:flex;flex-wrap:wrap;gap:1rem 3rem;}
.dragflow .dragitem {position:relative;line-height:3;padding:1rem 1.5rem;border:1px solid var(--blue_50);border-radius:10px;background:var(--blue_20);}
.dragflow .dragitem::after {content:'';position:absolute;top:50%;transform:translateY(-50%);right:calc(-3rem + 8px);display:inline-block;width:28px;height:28px;background:url(../images/q_common/flow_arr.svg) 50% no-repeat;}
.dragflow .dragitem:last-child::after {display:none;}
/* 끌어놓기 type10 :: 문장부호 맞추기 */
.dragWrap.type10 .draggable:has(img) {padding:0;border:none;background:transparent;transition:var(--ani_time);}
.dragWrap.type10 .draggable:has(img):hover,
.dragWrap.type10 .draggable:has(img):active,
.dragWrap.type10 .draggable.dragging:has(img) {transform:scale(1.05);}
.dragWrap.type10 .dragAnswerBox {display:flex;justify-content:flex-start;flex-direction:column;gap:2rem}
.dragWrap.type10 .dragAnswerBox .dragitem {display:flex;justify-content:flex-start;flex-direction:column;gap:1rem}
.dragWrap.type10 .dragAnswerBox .dragmark_group {display:flex;}
.dragWrap.type10 .dragAnswerBox .dragmark_group li {display:inline-flex;justify-content:center;align-items:center;width:70px;height:70px;margin-left:-2px;line-height:1;font-size:3rem;font-weight:700;color:var(--gray_130);background:url(../images/q_common/dragmark_bg2.png) 50% no-repeat;}
.dragWrap.type10 .dragAnswerBox .dragmark_group li:has(.draginput) {background-image:url(../images/q_common/dragmark_bg1.png);}
.dragWrap.type10 .dragAnswerBox .dragmark_group li .draginput {width:100%;height:100%;min-width:initial;min-height:initial;border:none;border-radius:0;margin:0 !important;padding:0;background-color:initial;}
/* 끌어놓기 type11 :: 핸드폰+대화형 */
.dragWrap.type11 .bubble .draginput {min-width:6rem;margin:0 !important;}
/* 끌어놓기 type12 :: 카드박스 */
.dragWrap.type12 {gap:1rem;}
.dragWrap.type12 .dragtable {flex-direction:row;}
.dragWrap.type12 .dragtable_tr {flex-direction:column;width:calc(100% / 4 + 1px);margin:0;margin-left:-1px;}
.dragWrap.type12 .dragtable_tr .dragtable_th {width:100%;}
.dragWrap.type12 .dragtable_tr .dragtable_td {width:100%;height:100%;margin-top:-1px;padding:0;border:1px solid var(--gray_50);}
.dragWrap.type12 .dragtable_tr .dragtable_td:hover {z-index:1;}
.dragWrap.type12 .dragtable_tr .dragtable_td .draginput {width:100%;height:100%;min-height:160px;margin:0 !important;border:none;border-radius:0;background-color:#fff;}
.dragWrap.type12 .dragtable_tr .dragtable_td .draginput .draggable {width:100%;border:none;}

/*///아래로펼치기///*/
.seletWrap {font-size:1.1rem;font-weight:500;color:var(--gray_100);line-height:2;}
/* 아래로펼치기 type2 :: 순서대로 선택 */
.seletWrap.type2 {display:flex;gap:3rem;}
.seletWrap.type2 .select {background-color:#fff;}
.seletWrap.type2 .item {position:relative;min-width:2rem;line-height:3;padding:1rem 1.5rem;border:1px solid var(--blue_50);border-radius:10px;background:var(--blue_20);text-align:center;}
.seletWrap.type2 .item::after {content:'';position:absolute;top:50%;transform:translateY(-50%);right:calc(-3rem + 8px);display:inline-block;width:28px;height:28px;background:url(../images/q_common/flow_arr.svg) 50% no-repeat;}
.seletWrap.type2 .item:last-child::after {display:none;}
/* 아래로펼치기 type3 :: 테이블 */
.selettable {display:flex;}
.selettable_tr {display:flex;flex-direction:column;margin-left:-1px;}
.selettable_tr * {color:var(--gray_100);}
.selettable_th {display:flex;justify-content:center;align-items:center;width:100%;padding:1rem;border:1px solid var(--gray_50);font-size:1.1rem;font-weight:700;background:var(--gray_20);}
.selettable_td {display:inline-flex;justify-content:center;align-items:center;width:100%;height:100%;line-height:1.5;padding:1rem;margin-top:-1px;border:1px solid var(--gray_50);}
.selettable .select {margin:0 .2rem;}






