@charset "UTF-8";

/*///////////////////////////////////////////////////////////////*/
/*//////////////////////문항별 개별 스타일////////////////////////*/
/*//////////////////////////////////////////////////////////////*/

/*국어 - kor*/
#kor_215_m222 .q_wrap .imgBox {width:calc(50% - 1rem); }




/*수학 - mth*/

/*사회 - sci*/
#sci_613_m12310 .a_wrap img {width:200px !important;}

/*과학 - soc*/

/*영어 - eng*/






