@charset "UTF-8";

/* header */
#question_header {z-index:10;position:relative;}
#question_header header {display:flex;justify-content:space-between;padding:1.5rem 6.5rem 1.5rem 2.5rem;background-color:var(--blue_130);}
#question_header .bn_close {position:absolute;top:50%;transform:translateY(-50%);right:1.5rem;width:48px;height:48px;border:none;background-color:transparent;background-size:100%;}

#question_header .hd_subject {display:flex;align-items:center;gap:1rem;}
#question_header .hd_subject h2 {display:inline-block;width:83px;height:38px;background-size:100%;}
#question_header .hd_subject > strong {display:flex;align-items:center;gap:1rem;color:#fff;font-size:30px;font-weight:600;font-family:var(--f_scd);}
#question_header .hd_subject > strong::before {content:'';display:inline-block;width:1px;height:28px;background-color:#fff;}
#question_header .hd_subject > span {height:initial;padding:8px 10px;color:#fff;border:none;background:var(--blue_90);}
#question_header .hd_subject > p {color:#fff;font-size:14px;}

.q_info {display:flex;align-items:center;gap:1.5rem}
.q_info > .conut_wrap {display:flex;align-items:center;gap:.5rem;}
.q_info > .conut_wrap > span {display:flex;align-items:center;gap:.2rem;padding:.5rem;color:#fff;border:2px solid #6E779A;border-radius:8px;}
.q_info > .conut_wrap .time {}
.q_info > .conut_wrap .count {color:#6E779A;font-weight:500;}
.q_info > .conut_wrap .count > em {color:#fff;font-weight:600;}

/* 문제풀이현황 팝업 */
#question_header .toggleSwitch {position:relative;display:block;width:38px;height:22px;margin:0;border-radius:30px;box-shadow:0 0 16px 3px rgba(0 0 0 / 15%);background-color:var(--gray_70);cursor:pointer;}
#question_header .toggleSwitch::before {display:none;}
#question_header .toggleSwitch .toggleButton {position:absolute;width:12px;height:12px;top:50%;left:5px;transform:translateY(-50%);border-radius:50%;background-color:#fff;}
#question_header #toggle:checked ~ .toggleSwitch {background-color:var(--blue_90);}
#question_header #toggle:checked ~ .toggleSwitch .toggleButton {left:calc(100% - 17px);background-color:#fff;}
#question_header .toggleSwitch,
#question_header .toggleButton {transition:all 0.2s ease-in;}

#question_header .question_list_wrap {display:flex;align-items:center;gap:.5rem;color:#fff;}
#question_header .question_list_box {z-index:-1;opacity:0;position:absolute;top:-250px;left:0;width:100%;padding:2rem 15rem;background:var(--gray_10);box-shadow:1px 1px 10px 0 rgba(79, 106, 135, 0.2);transition:var(--ani_time);}
#question_header #toggle:checked ~ .question_list_box {opacity:1;top:90px;}
#question_header .question_list_box > .title {display:flex;align-items:center;gap:1rem;margin-bottom:2rem;}
#question_header .question_list_box > .title strong {font-size:22px;font-weight:700;font-family:var(--f_scd);color:var(--gray_120);}
#question_header .question_list_box > .title > ul {display:flex;align-items:center;gap:.5rem;}
#question_header .question_list_box > .title > ul li {display:flex;align-items:center;gap:.2rem;color:var(--gray_90);font-weight:600;}
#question_header .question_list_box > .title > ul li::before {content:'';display:inline-block;width:16px;height:16px;border:2px solid var(--gray_60);border-radius:4px;background-color:#fff;}
#question_header .question_list_box > .title > ul li:nth-child(1)::before {border-color:var(--blue_90);background-color:var(--blue_90);}
#question_header .question_list_box > .title > ul li:nth-child(3)::before {border-color:var(--blue_90);border-width:2px;}
#question_header .question_list_box > span {display:inline-block;font-size:20px;color:var(--gray_120);margin:2rem 0 1rem;}
#question_header .question_list_box > span > b {margin-right:.2rem;font-weight:700;}
/* 문제풀이현황 버튼 리스트 */
.question_list {display:flex;flex-wrap:wrap;gap:.708rem;}
.question_list .qnum {position:relative;display:inline-flex;align-items:center;justify-content:center;border-radius:6px;width:60px;height:60px;border:.1rem solid var(--gray_60);color:var(--gray_100);font-size:1.1rem;font-weight:600;background:#fff;}
.question_list .qnum.end {color:#fff;border-color:var(--blue_90);background-color:var(--blue_90);}
.question_list .qnum.ing {border:3px solid var(--blue_90);color:var(--blue_90);font-weight:700;box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.2);}
.question_list .qnum.ing::before {content:'';position:absolute;top:-10px;display:block;width:20px;height:20px;border-radius:20px;background:var(--blue_90) url(../images/common/arr_check.svg) no-repeat 50%;}
#question_header .question_list {gap:.79rem;}


/* question_footer */
#question_footer {pointer-events:none;z-index:2;position:fixed;top:50%;left:0;display:flex;justify-content:space-between;width:100%;padding:0 4rem;}
#question_footer > button {pointer-events:painted;width:70px;height:70px;border-radius:70px;font-size:0;}
#question_footer > button.save_prev {transform:rotate(180deg);}
#question_footer > button.save_next {}
#question_footer > button.save_send {border-color:var(--coral_100);background-color:var(--coral_100);}
#question_footer > button.save_send:hover {border-color:var(--coral_110);background-color:var(--coral_110);}

/* 제출팝업 :: 공통 */
.question_modal {}
.question_modal .modal-content {padding:0;border:none;}
.question_modal .modal-content .popup-wrap {gap:0}
.question_modal .popup-wrap .con-head {padding:1.5rem 2rem;border-radius:20px 20px 0 0;background:var(--blue_130);}
.question_modal .popup-wrap .con-head > h3 {gap:.5rem;margin:0;font-size:24px;font-weight:600;font-family:var(--f_scd);color:#fff;}
.question_modal .popup-wrap .con-head > h3::before {display:none;}
.question_modal .popup-wrap .con-head > h3 > i {width:40px;height:40px;border-radius:50px;background-color:#fff;}
.question_modal .popup-wrap .con-wrap {flex-direction:column;align-items:center;gap:2rem;padding:2rem;border:6px solid var(--gray_30);border-radius:0 0 20px 20px;}
.question_modal .popup-wrap .con-wrap > strong {font-size:22px;font-weight:700;font-family:var(--f_scd);color:var(--blue_130);text-align:center;}
.question_modal .popup-wrap .con-wrap > strong > em {font-size:22px;font-weight:700;font-family:var(--f_scd);color:var(--blue_90);}
.question_modal .btn_group {margin:0;}
.question_modal .modal-close {position:static;width:initial;height:initial;color:#fff;border-color:var(--gray_60);background-color:var(--gray_60);}

.question_modal .confirm_img {width:80px;height:80px;background:url('../images/common/confirm_img.svg') no-repeat 50%;}

.flag {position:absolute;top:-10px;right:40px;display:flex;align-items:center;justify-content:center;width:87px;height:77px;color:#fff;font-size:20px;font-weight:700;font-family: var(--f_scd);background:url(../images/common/flag.svg) no-repeat 50%;background-size:contain;}
.flag > span {margin-bottom:.5rem;}

/* 제출팝업 :: 미답변 */
.no_answer {display:flex;flex-direction:column;align-items:center;gap:.5rem;}
.no_answer > span {padding:.5rem 1rem;border-radius:40px;color:#fff;font-size:1.1rem;font-weight:600;background:var(--gray_80);}
.no_answer .no_answer_list {display:flex;align-items:center;gap:.5rem;}
.no_answer .no_answer_list .no_answer_item {display:inline-flex;align-items:center;justify-content:center;width:46px;height:46px;border:.1rem solid var(--gray_60);border-radius:4px;color:var(--gray_100);font-size:1.1rem;font-weight:600;background:#fff;}


/* question body */
.question {height:100%;padding:2rem 10rem;background:var(--blue_20);}

.q_content {overflow:hidden;position:relative;border-radius:10px;background:#fff;}
.question .q_content {box-shadow:1px 1px 10px 0 rgba(79, 106, 135, 0.2);}

.q_layout {display:flex;flex-direction:column;gap:3rem;min-height:600px;padding:48px 70px;background:#fff;}
.question .q_layout {gap:1.2rem;min-height:calc(73vh + 19px);padding:20px 70px 40px;}

/* 문항 질문 */
.q_tit {display:flex;align-items:center;justify-content:flex-start;gap:.4rem;margin:0;padding:26px 42px;font-size:1rem;font-weight:500;background:var(--gray_20);}
.q_tit .question_number {padding:.5rem .8rem;border-radius:.3rem;color:var(--c_white);font-weight:600;background:var(--gray_70);}
.q_tit .txt {}
.q_tit .txt > u {text-decoration:none;border-bottom:1px solid var(--gray_80);}

/* 문항정보 */
.q_layout .question_info {display:flex;align-items:center;justify-content:flex-end;gap:.5rem;font-size:14px;font-weight:600;color:var(--gray_70);}
.q_layout .question_info li {display:flex;align-items:center;gap:.5rem;}
.q_layout .question_info li::after {content:'';display:inline-block;width:2px;height:12px;background:var(--gray_40);}
.q_layout .question_info li:last-child:after {display:none;}

/* 예문 */
.q_layout .q_wrap {overflow:hidden;width:100%;padding:3rem 4rem;border:.3rem solid var(--gray_30);border-radius:10px;font-size:1.1rem;color:var(--gray_90);} /* 예문영역 */
.q_layout .q_wrap .examBox {display:flex;justify-content:center;flex-direction:column;align-items:center;gap:1rem;}
.q_layout .q_wrap .examBox .subtitle3 {font-size:20px;}
.q_layout .q_wrap .examBox p {line-height:1.5;}


.q_layout .a_wrap {font-weight:500;color:var(--gray_90);} /* 보기영역 */
.q_layout .a_wrap * {color:var(--gray_90);}
.question .q_layout .a_wrap {display:flex;justify-content:center;padding:1rem 0}




/*/////////////////////문항 컴포넌트 시작////////////////////////*/

/* defualt 버튼 */
.txtblock {border:.1rem solid var(--gray_40);border-radius:.3rem;padding:6px 12px !important;font-weight:600 !important;background:var(--gray_10);} /*박스버튼*/


/* bullet */
.bullet {display:inline-flex;justify-content:center;align-items:center;padding:.5rem 1rem;border-radius:50px;border:.1rem solid var(--gray_90);font-size:1.1rem;font-weight:700;color:var(--gray_90);background-color:var(--gray_20);}
.bullet.circle {width:28px;height:28px;padding:0;font-weight:700;color:var(--gray_90);}
.bullet.blue {border:.1rem solid var(--blue_90);color:var(--blue_90);background-color:var(--blue_20);}
/*circle sm*/
.bullet.circle.sm {width:20px;height:20px;font-size:12px;}

/* 빈칸 */
.blankBox {display:inline-flex;align-items:center;justify-content:center;min-width:60px;height:42px;padding:0 1rem;border-radius:3px;border:2px dashed var(--gray_60);font-size:1.1rem;font-weight:600;color:var(--gray_60);background:var(--gray_20);vertical-align:middle;}/*빈칸표시*/
.blankBox.sm {min-width:50px;height:38px;padding:0 .5rem;font-size:1rem;}

/* 텍스트박스 */
.square {display:inline-flex;align-items:center;justify-content:center;min-width:60px;height:42px;padding:0 1rem;border-radius:3px;border:2px solid var(--gray_60);font-size:1.1rem;font-weight:600;color:var(--gray_90);background:#fff;vertical-align:middle;}/*빈칸표시*/
.square.sm {min-width:50px;height:38px;padding:0 .5rem;font-size:1rem;}


/* 단답형 */
.inputWrap {}
.inputWrap .inputBox {height:42px;border-color:var(--gray_60);color:var(--gray_90);font-weight:600;text-align:center;}
.inputWrap .inputBox.sm {width:50px}
.inputWrap .inputBox.md {width:80px}
.inputWrap .inputBox.big {width:100px}

/* 분수형태 */
.fraction {display:flex;flex-direction:column;align-items:center;gap:.2rem;line-height:1;font-size:1.1rem;}
.fraction > .line {width:100%;height:1px;background-color:var(--gray_100);}
.fraction.type2 {display:flex;flex-direction:row;align-items:center;}


/* 카드박스 */
input[type="radio"] + .cardWrap:before,
input[type="chekbox"] + .cardWrap:before {display:none;}

.cardBox {display:flex;gap:.2rem;width:300px;padding:18px;border:1px solid var(--gray_50);border-radius:6px;background-color:#fff;}
.cardBox > p {flex:1;}

.cardBox.photo {align-items:center;gap:1rem;padding:30px;width:350px;}
.cardBox .photoBox {border-radius:6px;overflow:hidden;}
.cardBox .photoBox > img {width:100%;height:100%;}

.cardBox.flex-col {width:initial}
.cardBox.photo.flex-col {padding:18px;}

.cardBox.magazine {align-items:center;gap:1rem;max-width:400px;border:none;background:transparent;}
.cardBox.magazine .inner {display:flex;gap:.6rem;}


/* 라디오 */
.radioWrap {display:flex;flex-direction:column;gap:.5rem;width:100%;}
.radioWrap *,
.radioWrap input[type="radio"] + label {color:var(--gray_100);font-size:1.1rem;font-weight:500;}
.radioWrap table thead th {font-weight:700;}
/* 라디오 type2 :: 가로정렬, 중앙배치*/
.radioWrap.type2 {flex-direction:row;justify-content:center;}
/* 라디오 type3 :: 보기 하나에 ㄱ, ㄴ으로 구분되어져 정렬을 해야할때*/
.radioWrap.type3 {}
.radioWrap.type3 li label {display:flex;align-items:center;gap:1rem;margin:0;}
.radioWrap.type3 li label span {}
/* 라디오 type4 */
.radioWrap.type4 {display:block;}
.radioWrap.type4 > div {line-height:2;}
.radioWrap.type4 input[type="radio"] + label {margin:0;border-bottom:1px solid var(--gray_40);}
/* .radioWrap.type4 input[type="radio"] + label::before {display:none;} */
.radioWrap.type4 input[type="radio"]:checked + label {color:var(--blue_100);border-color:var(--blue_100);}
/* 라디오 type5 */
.radioWrap.type5 {flex-wrap:wrap;flex-direction:row;justify-content:center;gap:1.5rem;}
.radioWrap.type5 li {width:25%;}
.radioWrap.type5 input[type="radio"] + label {width:100%;margin:0;padding:0}
.radioWrap.type5 input[type="radio"]:checked + label * {color:var(--blue_100);border-color:var(--blue_100);}
/* 라디오 type6 */
.radioWrap.type6 {align-items:center;}
.radioWrap.type6 table {max-width:900px;}
/* 라디오 type7 */
.radioWrap.type7 {flex-direction:row;justify-content:center;align-items:center;gap:1rem;}
.radioWrap.type7 .group {display:flex;flex-direction:column;align-items:center;gap:.5rem;}
.radioWrap.type7 .group .groupBox {display:flex;flex-direction:column;gap:.5rem;padding:2rem;border:1px solid var(--gray_50);border-radius:10px;}
.radioWrap.type7 .group .groupBox li {}
/* 라디오 type7 가로정랼*/
.radioWrap.type7.flex-col {justify-content:center;align-items:flex-start;gap:1rem;width:initial;}
.radioWrap.type7.flex-col .group {align-items:center;flex-direction:row;gap:.5rem;}
.radioWrap.type7.flex-col .group .groupBox {display:flex;flex-direction:column;gap:.5rem;padding:2rem;border:1px solid var(--gray_50);border-radius:10px;}
.radioWrap.type7.flex-col .group .groupBox li {}





/* 핫스폿 -- 라디오 형태(단일선택) :: 공통*/
.hsradioWrap {text-align:center;}
.hsradioWrap * {color:var(--gray_110);font-size:1.1rem;font-weight:500;}
.hsradioWrap input[type="radio"] + label {margin-right:6px;padding:6px 12px;border:.1rem solid var(--gray_40);border-radius:.3rem;font-size:1.1rem;font-weight:600;background:var(--gray_10);}
.hsradioWrap input[type="radio"] + label::before {display:none;}
.hsradioWrap input[type="radio"]:checked + label {border-color:var(--blue_100);color:var(--blue_100);background-color:var(--blue_20);}
.hsradioWrap input[type="radio"]:checked + label::before {left:50%;transform:translateY(-50%) translateX(-50%);display:block;width:68px;height:68px;background-image:url(../images/common/hotspot_img.svg);}
/* 핫스폿 type2 리스트형 */
.hsradioWrap.type2 {display:flex;justify-content:flex-start;flex-direction:column;gap:1rem;text-align:left;}
.hsradioWrap.type2 li {display:flex;align-items:center;gap:.5rem;}
/* 핫스폿 type3 카드형 */
.hsradioWrap.type3 {display:flex;justify-content:center;width:100%;}
.hsradioWrap.type3 > div {display:flex;justify-content:flex-start;flex-wrap:wrap;gap:1rem;width:60%;}
.hsradioWrap.type3 .card_item {width:calc(50% - .5rem);}
.hsradioWrap.type3 .card_item label {display:flex;align-items:center;justify-content:center;gap:1rem;margin:0;padding:1.5rem 2rem;background:#fff;}
.hsradioWrap.type3 .card_item label * {text-align:left;}
.hsradioWrap.type3 input[type="radio"]:checked + label {background:#fff;}
.hsradioWrap.type3 input[type="radio"]:checked + label::before {width:100px;height:100px;background-size:100%;}
.hsradioWrap.type3 input[type="radio"]:checked + label * {color:var(--blue_100);}

/* 핫스폿 -- 체크박스 형태(다중선택) :: 공통 */











