@charset "UTF-8";

small {font-weight:500;}
.style_wrap {width:100%;max-width:1600px;margin:0 auto;}
.style_wrap > section {padding:120px 0;}
.style_wrap h2 {font-size:1.18rem;margin-bottom:1rem;}
.style_wrap h3 {margin:0;}
.stwrap {position:relative;display:flex;flex-wrap:wrap;align-items:flex-start;gap:2rem;width:100%;margin:0 auto;padding:50px;background:#fff;border:1px solid #eee;}
.stwrap .styleguide_box {display:flex;flex-direction:column;gap:32px;width:100%;}
.stwrap .group {display: flex;gap: 32px;}
.stwrap .gr_tit {width: 100px;font-weight:700;}
.stwrap .group > .wrap {display: flex;flex-direction: column;gap: 20px;width: calc(100% - 100px);}
.stwrap .group > .wrap .grap {display:flex;flex-wrap:wrap;gap:4px;}
.stwrap .group > .wrap .grap .tit {width:100%;margin-bottom:8px}

.stwrap > .inner {width:100%;border-radius:0;}

.stwrap .q_layout {gap:1rem;width:100%;min-height:initial;padding:0;}

.stwrap.q_layout {min-height:initial;}
.stwrap.q_layout .q_wrap .layout.colum_2 {}
.stwrap.q_layout .q_wrap .layout > div {height:200px;background-color:var(--blue_30);}


.sgNavi {z-index:999;position:fixed;left:0;display:flex;justify-content:center;align-items:center;gap:4rem;width:100%;padding:1rem 0;background:var(--blue_130);}
.sgNavi li {}
.sgNavi li a {font-size:20px;font-weight:500;color:#fff;}
.sgNavi li a.on {color:var(--yelliw_m);font-weight:700;}

.stwrap_btn {position:absolute;right:0;top:0;padding:.5rem 1rem;color:#fff;background:var(--blue_80);transition:var(--ani_time);}
.stwrap_btn:hover {background:var(--blue_100);}





